.caja-nav{
    background-color: #fa3b7b;
    width: 100%;
    height: 55px;
    max-height: 55px;
    text-align: center;
}
.caja-nav .col-2{
    padding-top: 15px;
    padding-bottom: 15px;
}
.caja-nav .row{
    margin: 0!important;
    height: 100%;
    display: flex;
    align-items: center;
}
.caja-nav button.regresar{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    margin-left: 5px;
    padding: 0;
}
.caja-nav button.delete{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
}
.caja-nav button.delete i{    
    font-weight: 400;
}
.caja-nav button i{
    color: #fff;
    font-size: 22px;
}
.caja-nav span.titulo{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}






.caja-texto span{
    display: inline-block;
    /* margin-top: 15px; */
    color: #495057;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;  
}
.caja-texto{
    padding: 20px 20px 10px 20px;
}
.caja-texto input{
    display: block;
    width: 100%;
    height: 36px;
    border: 0;
    border-bottom: 1px solid #cccccc;
    outline: 0;
    padding-left: 5px;
    color: #495057;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;  
    transition: all .3s ease;
}
.caja-texto input:focus{
    border-bottom: 1px solid #fa3b7b;
}





.caja-boton{
    /* background-color: #f4f4f4; */
    padding: 10px 10px;
    margin: 0 auto;
    text-align: center;
}
.caja-boton button.pro{
    /* display: block; */
    padding: 0;
    width: 100%;
    height: 45px;
    margin-right: 5px;
    color: #fff;
    background-color: #1c992d;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;  
    border: 0;
    border-radius: 5px;
    outline: 0;
}
.caja-boton button.pro:hover{
    background-color: #0aaa1f;
}