<div class="conenedor">
  <button class="agregar">
    <span>Agregar domicilio</span>
  </button>

  <div class="domicilio">
    <span>Calle</span>
      <input type="text" value="Victoria Romero">
    <span>Número</span>
      <input type="text" value="221">
    <span>Piso/Depto</span><span class="opc">(Opcional)</span>
      <input type="text" placeholder="Ej.: Piso 8, Departamento 6" value="">
    <span>Entre calles</span><span class="opc">(Opcional)</span>
      <input type="text" placeholder="Ej.: Av. Corrientes y Libertad" value="">
    <span>Referencias</span><span class="opc">(Opcional)</span>
      <input type="text" placeholder="Ej.: Casa con rejas negras" value="">
  </div>

  <div class="domicilio">
    <span>Código postal</span>
      <input type="text" value="5380" readonly>
    <span>Provincia</span>
      <input type="text" value="La Rioja" readonly>
    <span>Ciudad</span>
      <input type="text" placeholder="Ingresa tu ciudad" value="Chamical" readonly>
  </div>

  <div class="domicilio">
    <button class="guardar">
      <span>Guardar</span>
    </button>
  </div>

</div>