<div class="container login animated fadeIn">
    <br>
    <form method="post">
        <div> 
            <h4>INGRESO COMERCIAL</h4>
            <div class="txtArearestringida">
                <p>Solo Usuarios Autorizados</p>
            </div>
        </div>
        <br><br>
        <div class="campos">
            <div class='input-field col-12'>
                <label class="sr-only">Usuario</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <input type="email" class="form-control" placeholder="Usuario" required>
                </div>
            </div>
            <br>
            <div class='input-field col-12'>
                <label class="sr-only">Contraseña</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
            </div>
        </div>
        <!-- <label class="olvidar-pass">
            <a href=''><b>Olvidé mi Contraseña</b></a>
        </label> -->
        <br><br>
        <div class="boton">
            <span>
                CONFIRMAR
            </span>
        </div>
        <br>
    </form>
    <br>
    
    
    
</div>