.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #fe4918;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #fe4918;
  box-shadow: none;
}
div.container{
    margin-top: 15%;
    text-align: center;
    padding: 0 20px 0 20px;
}
div.login form{
    /* border-bottom: 1px solid rgb(196, 196, 196); */
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
}
div.login h4 {
    font-weight: bold;
    font-size: 29px;
}
.input-group-text {
    background-color: #fff;
}

.container .boton{
    margin: 22px 15%;
    height: 40px;
    border: 1px solid #fa3b7b;
    background-color: #ffffff;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
    transition: all .3s ease;
}
.container .boton span{
    font-weight: bold;
    color: #fa3b7b;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease;
}
.container .boton:hover,
.container .boton span:hover{
    background-color: #fa3b7b;
    color: #ffffff;
}

.txtArearestringida p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}