/* ---------CAJA NAV ----------- */
.caja-nav{
    background-color: #fa3b7b;
    width: 100%;
    height: 55px;
    max-height: 55px;
    text-align: center;
    padding: 12px 0 11px 0;
}
.caja-nav .col-2{
    padding-top: 15px;
    padding-bottom: 15px;
}
.caja-nav .row{
    margin: 0!important;
    height: 100%;
    display: flex;
    align-items: center;
}
.caja-nav button.regresar{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    margin-left: 5px;
    padding: 0;
}
.caja-nav button i{
    color: #fff;
    font-size: 22px;
}
.caja-nav span.titulo{
    color: #fff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;  
}
.caja-nav button.menu{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    margin-right: 5px;
    padding: 0;
}



/* -----------CAJA CARRITO------------- */
.cajaCarrito{
    text-align: center;
    padding: 0 0 5px 0;
    height: auto;
    overflow-x: hidden;
}
.cajaCarrito p{
    margin: 0;
}
.carrito-body{
    /* margin-bottom: 80px; */
    margin-bottom: 145px;
}
.carrito-body .txtSubtitulo{
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15pt;
    text-transform: uppercase;
    margin: 5px 0 5px 0;    
    padding: 5px 10px 3px 10px;
    box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
}




/* ---------SECCION: MI PEDIDO------------- */
.accordion .producto .caja1 {
    padding-right: 5px; 
}
.accordion .producto .caja2 {
    padding: 10px 10px 10px 5px;
}
.carrito-body .accordion .card{
    border-top: none;
    border-bottom: 1px solid #ececec;
    padding: 0 5px 0 5px;
}

.carrito-body .accordion .card-header2 .row{
    flex-wrap: nowrap;
    margin: 0;
}
.carrito-body .accordion .card-header2 .cant-prod{
    padding: 0;
    color: #000000;
    opacity: 0.67;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background: none;
    text-align: center;
    line-height: 1.8em;
}
.carrito-body .accordion .card-header2 .nombre-prod{
    color: #000000;
    opacity: 0.87;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 0 0 0 5px;
    line-height: 1.8em;
}
.carrito-body .accordion .card-header2 .prec-prod{
    text-align: right;
    color: #fa3b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0 5px 0 0;
}
.carrito-body .accordion .card-body {
    padding: 5px 10px 5px 10px;
}
.carrito-body .accordion .card-body .caja2{
    text-align: left;
    padding: 0;
}
.carrito-body .accordion .card-body .precio{
    padding: 0;
    color: #000000;
    opacity: 0.57;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.carrito-body .accordion .card-body .precio-cant{
    margin: 5px 10px 0 0;
}
.carrito-body .accordion .card-body .precio-cant .cantidad{
    text-align: right;
}
.carrito-body .accordion .card-body .producto{
    margin-bottom: 5px;
}
.carrito-body .accordion .card-body .producto .ingredientes{
    display: block;
    color: #000000;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.25pt;
    text-transform: capitalize;
}
.carrito-body .accordion .cantidad {
    text-align: center!important;
    margin: 0 auto;
    padding: 0;
}
.carrito-body .accordion .cantidad input{
    color: #000000;
    opacity: 0.87;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;

    background: none;
    text-align: center;
    width: 40px;
    border: none;
    border-radius: 5px;
}
.carrito-body .accordion .cantidad button{
    color: #fa3b7b;
    width: 26.5px;
    height: 26px;
    font-size: 12px;
    background: none;
    border: none;
    border-radius: 50px;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
}
.carrito-body .accordion .eliminar{
    padding: 0;
}
.carrito-body .accordion .eliminar i{
    color: #d4d4d4;
    font-size: 18px;    
    font-weight: 300;
}




/* ---------SECCION: FORMA DE ENTREGA----------- */
.carrito-body .form-entrega .card-header{
    border-top: none;
    border-bottom: 1px solid #ececec;
    text-transform: capitalize;
    background-color: #fff;
    margin: 0;
    padding: 0 5px;
}
.carrito-body .form-entrega .custom-select{
    border: none;
    border-radius: 0;
    padding: 0;
    color: #666;
    background: none;
    background-color: #fff;
    -webkit-appearance: menulist;
    font-size: 16px;
}
/* .carrito-body .form-entrega .cant-prod {
    text-align: center;
} */
.carrito-body .form-entrega .prec-prod{
    color: #fa3b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    padding: 0 5px 0 0;
}
.carrito-body .form-entrega .prec-prod input{
    width: 100%;
    background-color: #fff;
    border: none;
    text-align: right;
    color: #fa3b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
/* .carrito-body .form-entrega i{
    font-size: 18px;
    line-height: 2em;
    color: #a8a8a8;
} */
.carrito-body .form-entrega .select{
    padding: 0;
    width: auto;
}


.caja-entrega{
    padding-top: 5px;
    display: flex;
    align-items: center;
}
.caja-entrega .icono{
    text-align: center;
}
.caja-entrega .icono i{
    font-size: 18px;
    color: #a8a8a8;
}
.caja-direccion{
    padding-top: 5px;
    display: flex;
    align-items: center;
}
.caja-direccion .icono{
    text-align: center;
}
.caja-direccion .icono i{
    font-size: 18px;
    color: #a8a8a8;
}

/* ----------PIE DEL CARRITO------------ */
.carrito-body .total{
    border-top: 1px solid #ececec;
    color: #fa3b7b;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15pt;
    text-transform: uppercase;
    margin-top: 10%!important;
}
.carrito-body .total .total-titulo{
    color: #fa3b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15pt;
    text-transform: capitalize;
    margin-bottom: 0;
    padding: 0 0 0 15px;
}
.carrito-body .total .total-numero{
    color: #fa3b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15pt;
    padding: 0 15px 0 0;
}
.carrito-body .total .total-numero p{
    text-align: right!important;    
}
.carrito-body .total .confirmar{
    color: #ffffff;
    background-color: #fa3b7b !important;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.75pt;
    cursor: pointer;
    height: 50px;
    width: 100%;
    transition: all .3s ease;    
}
.titulo-subtotal span{
    color: #fa3b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15pt;
    text-transform: capitalize;
}
.precio-subtotal{
    text-align: right;
}
.precio-subtotal span{
    color: #fa3b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15pt;
    text-transform: capitalize;
}
.titulo-delivery span{
    color: #fa3b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15pt;
    text-transform: capitalize;
}
.precio-delivery{    
    text-align: right;
}
.precio-delivery span{
    color: #fa3b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15pt;
    text-transform: capitalize;
}



/* -----------CARRITO VACIO-------------- */
.carrito-vacio i{
    color: rgb(240, 240, 240);
    font-size: 100px;
    margin: 0 auto;
    margin-top: 30%;
    padding: 0 0 10px 10px;
}
.carrito-vacio p.uno{
    color: rgb(148, 148, 148);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 0 0 0 5px;
    line-height: 1.8em;
}
.carrito-vacio p{
    color: rgb(221, 221, 221);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0 0 0 5px;
    line-height: 1.8em;
}
.carrito-vacio button{
    color: #ffffff;
    background-color: #3b87fa;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.75pt;
    cursor: pointer;
    border: 0;
    width: 185px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    transition: all .3s ease;
}
.carrito-vacio button:hover{
    background-color: #2576f0;
}
