
.cajaCarrito > a{
    position: absolute;
    float: left;    
    top: 1.5%;
    right: 4%;
}
.cajaCarrito > a i {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
/* Carrito Header */


.cajaCarrito{
    text-align: center;
    padding: 0 0 5px 0;
    height: auto;
}
.cajaCarrito p{
    margin: 0;
}
.cajaCarrito .carrito-header {
    border-bottom: 2px solid #fe3918;
    margin: 5px auto 10px auto;
}
.cajaCarrito .titulo {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #e1e1e1;
    color: #fe3918;
}
.cajaCarrito .titulo .estado-pedido {
    color: rgb(24, 192, 24);
}
.cajaCarrito .carrito-header img{
    width: 100px;
    height: 100px;
    border: 2px solid #fe3918;
    border-radius: 50%;
}
.cajaCarrito .carrito-header .nombre {
    font-size: 18px;
    font-weight: bold;
    color: #666464;
}
.cajaCarrito .carrito-header .estado{
    color: #858282;
}

/* Carrito Body */
.txtProductos{
    color: #fe3918;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15pt;
    text-transform: uppercase;
    margin: 15px 0 5px 0;    
    padding: 5px 10px 3px 10px;
    /* border-bottom: 1px solid #ececec; */
    /* box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2); */
    text-align: left;
}
.producto .caja1 {
    padding-right: 5px; 
}

.producto .caja2 {
    padding: 10px 10px 10px 5px;
}
.cajaCarrito .carrito-body card{
    margin-top: 0;
    box-shadow: none;
}
.carrito-body .card-header{
    text-transform: uppercase;
    color: #666666;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.75pt;
    background-color: #fff;
    margin: 0;
    padding: 5px;
    border-bottom: none;
}
.carrito-body .card-header .cant-prod{
    padding: 0;
    text-align: center;
    color: #666;
    font-weight: 600;
}
.carrito-body .card-header .nombre-prod{
    text-align: left;
    padding: 0 0 0 5px;
}
.carrito-body .card-header .prec-prod{
    text-align: right;
    padding: 0 5px 0 0;
    font-size: 15px;
    font-weight: 650;
    color: #666;
}
.carrito-body .card-body {
    padding: 5px 10px 5px 10px;
}
.carrito-body .card-body .caja2{
    text-align: left;
    padding: 0;
}
.carrito-body .card-body .precio{
    font-size: 20px;
    padding: 0;
}
.carrito-body .card-body .precio-cant{
    margin: 10px 10px 0 0;
}
.carrito-body .card-body .precio-cant .cantidad{
    text-align: right;
}
.carrito-body .card-body .producto{
    margin-bottom: 5px;
}
.carrito-body .card-body .producto .ingredientes{
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/* Cantidad Editar */
.carrito-body .cantidad {
    text-align: center!important;
    margin: 0 auto;
    padding: 0;
}
.carrito-body .cantidad .test{
    text-align: center;
    border-bottom: none;
    margin-bottom: 0;
    height: auto;
    border: 2px solid #e1e1e1;
    border-radius: 50px;
    color: black;
    background-color: #fff;
    font-weight: 550;
    font-size: 17px;
    width: 40px;
    margin: 0 10px;
}
.carrito-body .cantidad i{
    color: #fa3b7b;
    border: 2px solid red;
    padding: 4px;
    border-radius: 50%;
}
.carrito-body .eliminar{
    line-height:2em;
    padding: 0;
}
.carrito-body .eliminar i{
    color: red;
    font-size: 20px;
    
}

/* Forma de Entrega */
.carrito-body .form-entrega .card-header{
    border: 1px solid #ddd;
}
.carrito-body .form-entrega .custom-select{
    border: none;
    border-bottom: 1px solid #666;
    border-radius: 0;
    padding: 0;
    color: #666;
    background: none;
    background-color: #fff;
    -webkit-appearance: menulist;
    font-size: 16px;
}
.carrito-body .form-entrega .cant-prod {
    text-align: center;
}
.carrito-body .form-entrega .prec-prod{
    line-height: 2.6;
}
.carrito-body .form-entrega i{
    font-size: 18px;
    line-height: 2em;
    color: green;
}
.carrito-body .form-entrega .select{
    padding: 0;
}


/* Total */
.carrito-body .total{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #e1e1e1;
    margin-top: 7%;
    padding: 5px;
}
.carrito-body .total .total-titulo{
    padding: 0;
    color: #fe3918;
}
.carrito-body .total .total-numero{
    border-left: 2px solid #e1e1e1;
    padding: 0;
    color: #666;
}
.carrito-body .total .total-numero p{
    text-align: center!important;
}

/* boton */
.boton{
    margin: 20px 15%;
    height: 40px;
    border: 1px solid #fa3b7b;
    background-color: #ffffff;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
    transition: all .3s ease;
}
.boton span{
    font-weight: bold;
    color: #fa3b7b;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease;
}
.boton:hover,
.boton span:hover{
    background-color: #fa3b7b;
    color: #ffffff;
}

