<div class="caja-nav">    
    <!-- <button class="regresar" [routerLink]="['/comercio', refId]">
      <i class="fas fa-angle-left"></i>
    </button> -->
    <button class="menu" *ngIf="this.ap.exist" (click)="this.ap._toggleOpened()">
    <i class="fas fa-bars"></i>
    </button>
    <span class="titulo">Mis favoritos</span>
</div>


<div class="container-fluid animated fadeIn comerciosFavoritos">

  <div class="comercio row align-items-center">  
    <div class="caja1 col-auto" [routerLink]="['/comercio/I8NViOS79Lap4LsPpJH0']">
      <div class="foto">
        <img src="https://upload.wikimedia.org/wikipedia/lv/thumb/3/3a/Burger_King_Logo.svg/768px-Burger_King_Logo.svg.png" width="100">
      </div>
    </div>
    <div class="caja2 col">
      <h5 class="nombre" [routerLink]="['/comercio/I8NViOS79Lap4LsPpJH0']">Don Luna</h5> 
      <span class="estado">Abierto </span>
      <span class="delivery"><i class="fas fa-shipping-fast"></i></span>  
      <!-- <span class="dejarSeguir"><i class="fas fa-user"></i></span> -->
      
      <span class="boton">Dejar de seguir</span>
          
    </div>   
  </div>

  <div class="comercio row align-items-center" >  
    <div class="caja1 col-auto" [routerLink]="['/comercio/N51dVdvy0zSBfyws7qCl']">
      <div class="foto">
        <img src="https://cdn3.f-cdn.com/contestentries/857898/16469210/57ed7a6fb8fd2_thumb900.jpg" width="100">
      </div>
    </div>
    <div class="caja2 col">
      <h5 class="nombre" [routerLink]="['/comercio/N51dVdvy0zSBfyws7qCl']">Urbano Resto Bar</h5> 
      <span class="estado">Abierto </span>
      <!-- <span class="delivery"><i class="fas fa-shipping-fast"></i></span>       -->
      <span class="boton">Dejar de seguir</span>
    </div>   
  </div>

  <div class="comercio row align-items-center">  
    <div class="caja1 col-auto" [routerLink]="['/comercio/YgWbjg1rYsw0NxThlCJq']">
      <div class="foto">
        <img src="https://www.designevo.com/res/templates/thumb_small/white-hat-and-yellow-bread.png" width="100">
      </div>
    </div>
    <div class="caja2 col">
      <h5 class="nombre" [routerLink]="['/comercio/YgWbjg1rYsw0NxThlCJq']">Pizzería FAX</h5> 
      <span class="estado">Cerrado</span>
      <!-- <span class="delivery"><i class="fas fa-shipping-fast"></i></span>       -->
      <span class="boton">Dejar de seguir</span>
    </div>   
  </div>

  <div class="comercio row align-items-center">  
    <div class="caja1 col-auto" [routerLink]="['/comercio/ncRxByAIs5qd8i54BsXf']">
      <div class="foto">
        <img src="https://previews.123rf.com/images/tachyglossus/tachyglossus1610/tachyglossus161000039/67373440-emblema-tradicional-de-la-comida-r%C3%A1pida-americana-para-su-logo-banner-o-plantilla-de-volante.jpg" width="100">
      </div>
    </div>
    <div class="caja2 col">
      <h5 class="nombre" [routerLink]="['/comercio/ncRxByAIs5qd8i54BsXf']">Rey Del Lomito</h5> 
      <span class="estado">Abierto </span>
      <span class="delivery"><i class="fas fa-shipping-fast"></i></span>    
      <span class="boton">Dejar de seguir</span>  
    </div>   
  </div>

</div>