<p class="txtComerciosFavoritos">Mis Favoritos</p>

<div class="container-fluid animated fadeIn comerciosFavoritos">

  <div class="comercio row align-items-center">  
    <div class="caja1 col-auto">
      <div class="foto">
        <img src="https://upload.wikimedia.org/wikipedia/lv/thumb/3/3a/Burger_King_Logo.svg/768px-Burger_King_Logo.svg.png" width="100">
      </div>
    </div>
    <div class="caja2 col">
      <h5 class="nombre">Don Luna<span class="fav"><i class="fas fa-heart"></i></span></h5> 
      <span class="estado">Abierto </span>
      <span class="delivery"><i class="fas fa-shipping-fast"></i></span>      
    </div>   
  </div>

  <div class="comercio row align-items-center">  
    <div class="caja1 col-auto">
      <div class="foto">
        <img src="https://cdn3.f-cdn.com/contestentries/857898/16469210/57ed7a6fb8fd2_thumb900.jpg" width="100">
      </div>
    </div>
    <div class="caja2 col">
      <h5 class="nombre">Urbano Resto Bar<span class="fav"><i class="fas fa-heart"></i></span></h5> 
      <span class="estado">Abierto </span>
      <!-- <span class="delivery"><i class="fas fa-shipping-fast"></i></span>       -->
    </div>   
  </div>

  <div class="comercio row align-items-center">  
    <div class="caja1 col-auto">
      <div class="foto">
        <img src="https://www.designevo.com/res/templates/thumb_small/white-hat-and-yellow-bread.png" width="100">
      </div>
    </div>
    <div class="caja2 col">
      <h5 class="nombre">Pizzería FAX<span class="fav"><i class="fas fa-heart"></i></span></h5> 
      <span class="estado">Cerrado</span>
      <!-- <span class="delivery"><i class="fas fa-shipping-fast"></i></span>       -->
    </div>   
  </div>

  <div class="comercio row align-items-center">  
    <div class="caja1 col-auto">
      <div class="foto">
        <img src="https://previews.123rf.com/images/tachyglossus/tachyglossus1610/tachyglossus161000039/67373440-emblema-tradicional-de-la-comida-r%C3%A1pida-americana-para-su-logo-banner-o-plantilla-de-volante.jpg" width="100">
      </div>
    </div>
    <div class="caja2 col">
      <h5 class="nombre">Rey Del Lomito<span class="fav"><i class="fas fa-heart"></i></span></h5> 
      <span class="estado">Abierto </span>
      <span class="delivery"><i class="fas fa-shipping-fast"></i></span>      
    </div>   
  </div>

</div>