.caja-nav{
    background-color: #fa3b7b;
    /* height: 36px; */
    height: 50px;
    display: flex;
    align-items: center;
}
.caja-nav button.regresar{
    width: auto;
    background-color: #fa3b7b;
    border: 0;
    outline: 0;
    text-align: center;
    margin-left: 20px;
    padding: 0;
}
.caja-nav button i{
    color: #fff;
    font-size: 22px;
}
.caja-nav span.titulo{
    color: #fff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;  
    margin-left: 35px;  
    /* margin: 0 auto; */
}
.caja-nav button.menu{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    text-align: center;
    margin-left: 20px;
    padding: 0;
}





.txtComerciosFavoritos{
    color: #666666;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15pt;
    text-transform: uppercase;
    margin: 15px 0 10px 0;    
    padding: 5px 10px 3px 10px;
    /* background-image: linear-gradient( #ff3e7f, #910030); */
    border-bottom: 1px solid #ececec;
    box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.comerciosFavoritos{
    padding: 0 15px;
}
.comerciosFavoritos .comercio {
    border-bottom: 1px solid #ececec;
    padding: 10px 0;   
    cursor: pointer;
    /* box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); */
    transition: all .3s ease;
    margin-bottom: 0;
}
    .comerciosFavoritos .comercio:hover{
        background: #f5f5f5;
        /* padding: 20px 0;   */
    }

.comerciosFavoritos .comercio .caja1 {
    padding: 0 10px;
}
.comerciosFavoritos .comercio .caja1 .foto {
    width: 80px;
    height: 80px;
    overflow: hidden;
    /* border-radius: 100px; */
}
.comerciosFavoritos .comercio .caja1 .foto img {
    width: 100%;
    height: 80px;
}
.comerciosFavoritos .comercio .caja2 {
    padding: 0 10px 0 0;
}
.comerciosFavoritos .comercio .caja2 .nombre {
    color: #666666;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize;
}
.comerciosFavoritos .comercio .caja2 .estado {
    color: #fa3b7b;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25pt;
    float: left;
}
.comerciosFavoritos .comercio .caja2 .delivery {
    /* color: #b4b4b4; */
    color: #1a9c21;
    font-size: 14px;
    font-weight: 600;
    /* float: right; */
    padding-right: 20px;
    padding-left: 10px;
}
.boton{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    border: 1px solid #fa3b7b;
    background-color: #ffffff;
    float: right;
    min-width: 20%;
    font-weight: bold;
    color: #fa3b7b;
    font-size: 12px;
    cursor: pointer;
    transition: all .3s ease;
    padding: 5px;
}
.boton:hover{
    background-color: #fa3b7b;
    color: #ffffff;
}