/* Cabera */
.cajaComercio{
    text-align: center;
    padding: 0;
    /* box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); */
    /* background-color: #ff3e7f;     */
    /* background-image: linear-gradient(#910030, #ff3e7f); */
    height: auto;
}
.cajaComercio a{
    position: absolute;
    /* top: 1.75%;
    right: 4%; */
    top: 15px;
    right: 25px;
}
.cajaComercio a i{
    color: #fff;
    font-size: 20px;
}
.cajaComercio img{
    width: 100%;
    height: 150px;
    /* border-radius: 100px; */
    margin: 0;
    /* border: 2px solid #910030; */
    /* box-shadow: 0px 2px 30px 0 rgba(0, 0, 0, 0.6); */
    transition: all .3s ease;
    float: left;
}
.cajaComercio .nombre{
    color: #000000;
    opacity: 0.87;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15pt;
    text-transform: uppercase;
    margin-bottom: 0;
}
.cajaComercio .direccion{
    color: whitesmoke;
    font-size: 12px;
    margin-bottom: 0;   
    text-transform: capitalize;
}
.cajaComercio .contacto{
    color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0;  
}
.cajaComercio .megusta{
    color: #000000;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1pt;
    margin-bottom: 0;   
    text-align: left!important;
}
.cajaComercio .megusta p{
    margin-bottom: 0;   
}
.cajaComercio .estado{
    color: #000000;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1pt;
    margin-bottom: 0;   
}
.cajaComercio .estado p{
    margin-bottom: 0;
    width: auto;
    /* border: 1px solid #e1e1e1; */
}

.cajaComercio .delivery{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1pt;
    margin: 0;
    text-align: right;
}
.cajaComercio .megusta i{
    color: rgb(56, 214, 241);
}
.cajaComercio .estado i{
    color: rgb(255, 119, 29);
}
.cajaComercio .delivery i{
    color: #23d32c;
}
.cajaComercio .delivery{
    color: #000000;
    opacity: 0.6;
}
.cajaComercio i{
    font-size: 17px;
    font-weight: bold;
}




.imagen-banner{
    position: absolute;
    width: 100%;
}
.imagen-banner img{
    height: 100%;
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
}
.comercio-header img{
    width: 100px;
    height: 100px;
    margin: 15px auto 5px auto;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0 rgba(255, 255, 255, 0.6);
}
.comercio-header p{
    color: #fff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.15pt;
    text-transform: capitalize;
    margin-bottom: 0;
}
.comercio-info h5{
    color: #fff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 5px 0 0 0;
}
.comercio-info p{
    color: #fff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 5px 0;
}






/* Tabs */

.tab{
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #fa3b7b;
    display: flex;
}
.tab a.active{
    background-color: #fa3b7b;
    color: #ffffff!important;
    border-bottom: 1px solid #fa3b7b;
    border-radius: 0;
    border: 0;
}
.tab .item{
    width: 50%;  
    /* border: 1px solid #b3b1b1; */
    /* border-radius: 8px; */
    border: 0;
}
.tab a.item{
    color: #fa3b7b;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.75pt;
    cursor: pointer;
    transition: all .3s ease;
}
.tab a.item:hover{
    background-color: #fa3b7b;
    color: #ffffff;
}




.txtProductos{
    color: #666666;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15pt;
    text-transform: uppercase;
    margin: 15px 0 5px 0;    
    padding: 5px 10px 3px 10px;
    /* border-bottom: 1px solid #ececec; */
    box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.contenedor{
    padding: 0;
}
.producto {
    border-bottom: 1px solid #ececec;
    padding: 0;     
    transition: all .3s ease;
    cursor: pointer;
    margin: 0;
}
/* .producto:hover{
    background: #f5f5f5;
    box-shadow: 0px 2px 30px 0 rgba(0, 0, 0, 0.4);
    padding: 20px 0;
} */

.producto .caja1 {
    padding: 10px 5px 10px 10px;
}
.producto .caja1 .foto {
    width: 80px;
    height: 80px;
    overflow: hidden;
    /* border-radius: 100px; */
    transition: all .3s ease;
}
    .producto .caja1 .foto:hover{
        width: 250px;
        height: 200px;
    }
.producto .caja1 .foto img {
    width: 100%;
    height: 80px;
    transition: all .3s ease;
}
    .producto .caja1 .foto img:hover{
        width: 100%;
        height: 200px;
    }

.producto .caja2 {
    padding: 10px 10px 10px 5px;
}
.producto .caja2 .nombre{
    color: #000000;
    opacity: 0.87;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.producto .caja2 .ingredientes {
    display: block;
    color: #000000;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.25pt;
    text-transform: capitalize;
    /* margin-bottom: 10px; */
}
.producto .caja2 .precio {
    color: #fa3b7b;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    float: left;
}
.producto .caja2 .btnAgregar {
    color: #fa3b7b;
    font-size: 16px;
    float: right;
    background: none;
    border: 2px solid #fa3b7b;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 10px;
    transition: all .3s ease;
}
    .producto .caja2 .btnAgregar:hover{
        color: #ffffff;
        background: #fa3b7b;
        border: 2px solid #fa3b7b;
    }
.producto .caja2 .boton-modal{
    text-align: right;
}
.producto .caja2 .btn-floating{
    height: 30px;
    width: 30px;
}
.producto .caja2 .precio-cant{
    margin: 5px 0 0 0;
}


/* +Info */
#nav-info .card-header{
    text-transform: uppercase;
    /* color: #fa3b7b; */
    color: #666666;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.75pt;
    background-color: #fff;
}
#nav-info .card-header i{
    font-size: 18px;
    padding-right: 5px;
    color: #fa3b7b;
}
#nav-info .card-body{
    padding: 10px 20px 0 20px;
}
#nav-info .nosotros{
    text-align: center;
    color: #000000;
    opacity: 0.87;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
#nav-info .horario{
    color: #000000;
    opacity: 0.87;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
#nav-info .ubicacion p{
    text-align: center;
    color: #000000;
    opacity: 0.87;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
#nav-info .ubicacion img{
    width: 100%;
    margin-bottom: 10px;
}
.contacto i{
    font-size: 17px;
}
#nav-info .contacto p{
    color: #000000;
    opacity: 0.87;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.contacto i.fa-whatsapp{
    color: #23d32c;
    font-weight: bold;
}
.contacto i.fa-phone{
    color: black;
}
.contacto i.fa-facebook{
    color: rgb(51, 51, 212);
}

/* modal*/
#modalProducto{
    padding-top: 50px;
}
#modalProducto .modal-header{
    display: block;
    padding: 5px 10px;
}
#modalProducto .modal-content{
    border-radius: 3px;
    text-align: center;
}
#modalProducto.fade{
    width: 100%;
}
#modalProducto.fade.show {
    max-height: 100%;
    width: 100%;
}
#modalProducto .foto img{
    width: 90%;
    height: 200px;
    border-radius: 3px;
}
#modalProducto .nom p{
    color: #000000;
    opacity: 0.87;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 5px 0 0 0;
}
#modalProducto .ing p{
    color: #000000;
    opacity: 0.6;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.25pt;
    text-transform: capitalize;
    margin: 0 0 10px 0;
}
#modalProducto .cant button{
    color: #fa3b7b;
    width: 26.5px;
    height: 26px;
    font-size: 12px;
    /* float: right; */
    background: none;
    /* border: 2px solid #ececec; */
    border: none;
    border-radius: 50px;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2);
}
#modalProducto .cant{
    margin-bottom: 10px;
}
#modalProducto .cant input{
    color: #000000;
    opacity: 0.87;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;

    background: none;
    text-align: center;
    width: 60px;
    border: none;
    border-radius: 5px;
}
#modalProducto .nota{    
    /* padding-top: 5px; */
    /* border-top: 1px solid #ececec; */
    margin-bottom: 10px;
}
#modalProducto .nota textarea{
    width: 100%;
    margin: 0px auto;
    /* padding: 0 20px; */
    text-align: center;

    color: #000000;
    opacity: 0.6;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25pt;
}
    .form-control:focus{
        border-color: #fa3b7b;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(255, 112, 236, 0.25);
    }

#modalProducto .modal-footer .pre p{
    color: #fa3b7b;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    width: auto;
}
#modalProducto .modal-footer button{
    width: auto;
    height: 30px;
    color: #fa3b7b;
    background: none;
    border: none;
    margin: 0 0 0 20%;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.75pt;
    transition: all .3s ease;
    border-radius: 3px;
}
#modalProducto .modal-footer button:hover{
    background-color: #fa3b7b;
    color: #ffffff!important;
    height: 30px;
    border-radius: 3px;
}