<div class="caja-nav">    
  <!-- <button class="regresar">
    <i class="fas fa-angle-left"></i>
  </button> -->
  <!-- <button class="menu" *ngIf="this.ap.exist" (click)="this.ap._toggleOpened()">
  <i class="fas fa-bars"></i>
  </button> -->
  <!-- <span class="titulo">Añadir nueva categoría</span> -->

  <div class="row">
      <div class="col-2" style="text-align:left" [routerLink]="['/micomercio/menu']">
        <button class="regresar">
          <i class="fas fa-angle-left"></i>
        </button>
      </div>
      <div class="col-8" style="text-align:left">
          <span class="titulo">{{ titulo }}</span>
      </div>
      <div class="col-2" (click)="borrarCategoria()">
          <button class="delete" *ngIf="this.editar">
            <i class="fas fa-trash-alt"></i>
          </button>
      </div>
    </div>
</div>

<form [formGroup]="fCategoria">
  <div class="caja-texto">
      <span>Nombre</span>
      <input type="text" formControlName="nombre" placeholder="Ingresa el nombre de la categoria" value="" #cat required>
  </div>


  <div class="caja-boton fixed-bottom">
    <button class="cat" (click)="guardarCategoria( this.usuario.idCom, cat.value)">
      <span>{{ txtBoton }}</span>
    </button>
  </div>
</form>