<!-- BARRA DE NAVEGACION -->
<div class="caja-nav">   
	<div class="row">
		<div class="col-3" *ngIf="this.ap.exist" style="text-align:left" (click)="this.ap._toggleOpened()">
			<button class="menu">
				<i class="fas fa-bars"></i>
			</button>
		</div>
		<div class="col-3" *ngIf="!this.ap.exist"></div>

		<div class="col-6">
			<span class="titulo">Mis pedidos</span>
		</div>
		
		<div class="col-3">

		</div>
	</div>
</div>



<!-- TAB -->
<div class="nav nav-tabs tab" id="nav-tab" role="tablist">
	<a class="nav-item nav-link item active" data-toggle="tab" href="#nav-encurso" role="tab">
		<p>En Curso (1)</p>
		<!-- <p>(1)</p> -->
	</a>
	<a class="nav-item nav-link item" data-toggle="tab" href="#nav-historial" role="tab">
		<p>Historial (4)</p>
		<!-- <p>(4)</p> -->
	</a>
</div>

<div class="tab-content caja-pedidos" id="nav-tabContent">

	<!-- En curso -->
	<div class="tab-pane fade show active nav-encurso" id="nav-encurso" role="tabpanel">
		<div class="animated fadeIn fast ">
			<div class="pedido">
				<div class="row">
					<div class="col-2 imagen">
						<img src="https://upload.wikimedia.org/wikipedia/lv/thumb/3/3a/Burger_King_Logo.svg/768px-Burger_King_Logo.svg.png">
					</div>
					<div class="col-7 cliente">
						<p class="nombre">Don Luna</p>
						<p class="numero">Orden Nro: 351</p>
						<p class="estado">En Preparación</p>
					</div>
					<div class="col-3 dato">
						<div class="precio">
							<p>$ 210</p>
						</div>
					</div>
				</div>	
			</div>
			<div class="pedido">
				<div class="row">
					<div class="col-2 imagen">
						<img src="https://previews.123rf.com/images/tachyglossus/tachyglossus1610/tachyglossus161000039/67373440-emblema-tradicional-de-la-comida-r%C3%A1pida-americana-para-su-logo-banner-o-plantilla-de-volante.jpg">
					</div>
					<div class="col-8 cliente">
						<p class="nombre">Rey Del Lomito</p>
						<p class="numero">Orden Nro: 360</p>
						<p class="estado">Pendiente</p>
					</div>
					<div class="col-2 dato">
						<div class="precio">
							<p>$ 175</p>
						</div>
						<div class="delivery">
							<!-- <p><i class="fa fa-car"></i></p> -->
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>

	<!-- Historial -->
	<div class="tab-pane fade nav-historial" id="nav-historial" role="tabpanel">
		<div class="animated fadeIn fast ">
			<div class="pedido">
				<div class="row">
					<div class="col-2 imagen">
						<img src="https://previews.123rf.com/images/tachyglossus/tachyglossus1610/tachyglossus161000039/67373440-emblema-tradicional-de-la-comida-r%C3%A1pida-americana-para-su-logo-banner-o-plantilla-de-volante.jpg">
					</div>
					<div class="col-7 cliente">
						<p class="nombre">Rey Del Lomito</p>
						<p class="numero">Orden Nro: 351</p>
						<p class="estado">En Preparación</p>
					</div>
					<div class="col-3 dato">
						<div class="precio">
							<p>$ 210</p>
						</div>
					</div>
				</div>	
			</div>
			<div class="pedido">
				<div class="row">
					<div class="col-2 imagen">
						<img src="https://upload.wikimedia.org/wikipedia/lv/thumb/3/3a/Burger_King_Logo.svg/768px-Burger_King_Logo.svg.png">
					</div>
					<div class="col-7 cliente">
						<p class="nombre">Don Luna</p>
						<p class="numero">Orden Nro: 351</p>
						<p class="estado">En Preparación</p>
					</div>
					<div class="col-3 dato">
						<div class="precio">
							<p>$ 210</p>
						</div>
					</div>
				</div>	
			</div>
			<div class="pedido">
				<div class="row">
					<div class="col-2 imagen">
						<img src="https://www.designevo.com/res/templates/thumb_small/white-hat-and-yellow-bread.png">
					</div>
					<div class="col-7 cliente">
						<p class="nombre">Pizzeria Fax</p>
						<p class="numero">Orden Nro: 351</p>
						<p class="estado">En Preparación</p>
					</div>
					<div class="col-3 dato">
						<div class="precio">
							<p>$ 210</p>
						</div>
					</div>
				</div>	
			</div>
			<div class="pedido">
				<div class="row">
					<div class="col-2 imagen">
						<img src="https://upload.wikimedia.org/wikipedia/lv/thumb/3/3a/Burger_King_Logo.svg/768px-Burger_King_Logo.svg.png">
					</div>
					<div class="col-7 cliente">
						<p class="nombre">Don Luna</p>
						<p class="numero">Orden Nro: 351</p>
						<p class="estado">En Preparación</p>
					</div>
					<div class="col-3 dato">
						<div class="precio">
							<p>$ 210</p>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>





</div>















<!-- Modal Pedido:Estado -->
<div class="modal fade modalEstado" id="modalEstado" tabindex="-1" role="dialog" aria-labelledby="modalEstadoTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<!-- <div class="modal-header">
			
			</div> -->
			<div class="modal-body">
				<i class="fa fa-dizzy"></i>
				<p>¿Quieres Cancelar tu pedido?</p>
				<span>(Esta acción no se puede deshacer)</span>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-6 si">
						<span >SI</span>
					</div>
					<div class="col-6 no" data-dismiss="modal">
						<span>NO</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal Pedido:Detalle -->
<div class="modal fade modalDetalle" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="modalDetalleTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="row d-flex align-items-center">
					<div class="col-6 numero">
						<p>Pedido #1578</p>
					</div>
					<div class="col-6 x" data-dismiss="modal">
						<p><i class="fa fa-times"></i></p>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="titulo1">
						<span>Detalle</span>
					</div>
				<div class="titul">
					<span>Producto</span>
				</div>
				<div class="producto row">
					<div class="col-2 cantidad">
						<p>1</p>
					</div>
					<div class="col-8 nombre">
						<p>Barroluco</p>
					</div>
					<div class="col-2 precio">
						<p>$140</p>
					</div>
				</div>
				<div class="producto row">
					<div class="col-2 cantidad">
						<p>2</p>
					</div>
					<div class="col-8 nombre">
						<p>Pizza Cuatro Quesos</p>
					</div>
					<div class="col-2 precio">
						<p>$340</p>
					</div>
				</div>
				<div class="producto row">
					<div class="col-2 cantidad">
						<p>1</p>
					</div>
					<div class="col-8 nombre">
						<p>Lomo Especial</p>
					</div>
					<div class="col-2 precio">
						<p>$150</p>
					</div>
				</div>
				<br>
				<div class="titul">
					<span>Entrega</span>
				</div>
				<div class="delivery row">
					<div class="col-6 tipoEntrega">
						<p>Delivery</p>
					</div>
					<div class="col-6 precioDelivery">
						<p>$20</p>
					</div>
				</div><br>
				<div class="titul">
					<span>Dirección</span>
				</div>
				<div class="direccion row">
					<div class="col-12">
						<p>Angel V. Peñaloza, 221</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="total row">
					<div class="col-6 titulo">
						<p>Total</p>
					</div>
					<div class="col-6 numero">
						<p>$650</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>