
/* --------BARRA DE NAVEGACION----------- */
.caja-nav{
    background-color: #fa3b7b;
    width: 100%;
    height: 55px;
    max-height: 55px;
    text-align: center;
}
.caja-nav .col-3{
    padding-top: 15px;
    padding-bottom: 15px;
}
.caja-nav .row{
    margin: 0!important;
    height: 100%;
    display: flex;
    align-items: center;
}
.caja-nav button i{
    color: #fff;
    font-size: 22px;
}
.caja-nav .menu{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    text-align: center;
    padding: 0 0 0 5px;
}
.caja-nav .titulo{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;  
}



/* -------------TAB---------------- */
.tab{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.tab p{
    margin-bottom: 0;
}
.tab a.active{
    color: #fa3b7b!important;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #fa3b7b;
}
.tab .item{
    width: 50%;  
    border: 0;
    padding: 15px 0;
}
.tab a.item{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    /* letter-spacing: 0.75pt; */
    cursor: pointer;
    transition: all .3s ease;
}
.tab a.item:hover{
    background-color: #fff;
    color: #fa3b7b;
}

/* ------CAJA PEDIDOS--------- */
.caja-pedidos {
    background-color: #f4f4f4;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
}
.caja-pedidos .listaVacia{
    text-align: center;
    margin: 20% 0;
    font-size: 17px;
    font-weight: 400;
}
.caja-pedidos p{
    margin-bottom: 0;
}
.caja-pedidos .pedido{
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.07), 0 1px 1px -2px rgba(0,0,0,.1);
}
.caja-pedidos .pedido .row{
    flex-wrap: nowrap;
    margin: 0;
}

/* -------PEDIDOS: En Curso----------- */
.caja-pedidos .nav-encurso .pedido .col-7,
.caja-pedidos .nav-encurso .pedido .col-3,
.caja-pedidos .nav-encurso .pedido .col-2{
    padding: 0;
}
.caja-pedidos .nav-encurso .pedido .imagen{
    display:flex;
    justify-content: center;
    align-items: center;
}
.caja-pedidos .nav-encurso .pedido img{
    width: 80%;
}
.caja-pedidos .nav-encurso .pedido .cliente{
    padding-left: 10px;
}
.caja-pedidos .nav-encurso .pedido .cliente .nombre{  
    font-size: 18px;
    font-weight: 400;  
}
.caja-pedidos .nav-encurso .pedido .cliente .numero{
    font-size: 14px;
    font-weight: 400;
    margin-top: -5px;
    margin-bottom: 5px;
}
.caja-pedidos .nav-encurso .pedido .cliente .estado{
    font-size: 14px;
    font-weight: 400;
    color: #1fbd3a;
}
.caja-pedidos .nav-encurso .pedido .dato .precio{
    height: 50%;
    text-align: right;
    padding-right: 20%;
}
.caja-pedidos .nav-encurso .pedido .dato .precio p{
    font-size: 18px;
    font-weight: 500;
    color: #fa3b7b;
}
.caja-pedidos .nav-encurso .pedido .dato .delivery{
    height: 50%;
}
.caja-pedidos .nav-encurso .pedido .dato .delivery p{
    text-align: right;
    color: green;
    padding-right: 20%;
    line-height: 2;
}

/* -------PEDIDOS: En Curso----------- */
.caja-pedidos .nav-historial .pedido .col-7,
.caja-pedidos .nav-historial .pedido .col-3,
.caja-pedidos .nav-historial .pedido .col-2{
    padding: 0;
}
.caja-pedidos .nav-historial .pedido .imagen{
    display:flex;
    justify-content: center;
    align-items: center;
}
.caja-pedidos .nav-historial .pedido img{
    width: 80%;
}
.caja-pedidos .nav-historial .pedido .cliente{
    padding-left: 10px;
}
.caja-pedidos .nav-historial .pedido .cliente .nombre{  
    font-size: 18px;
    font-weight: 400;  
}
.caja-pedidos .nav-historial .pedido .cliente .numero{
    font-size: 14px;
    font-weight: 400;
    margin-top: -5px;
    margin-bottom: 5px;
}
.caja-pedidos .nav-historial .pedido .cliente .estado{
    font-size: 14px;
    font-weight: 400;
}
.caja-pedidos .nav-historial .pedido .dato .precio{
    height: 50%;
    text-align: right;
    padding-right: 20%;
}
.caja-pedidos .nav-historial .pedido .dato .precio p{
    font-size: 18px;
    font-weight: 500;
    color: #fa3b7b;
}
.caja-pedidos .nav-historial .pedido .dato .delivery{
    height: 50%;
}
.caja-pedidos .nav-historial .pedido .dato .delivery p{
    text-align: right;
    color: green;
    padding-right: 20%;
    line-height: 2;
}




/* Modal Estado */
.modalEstado .modal-dialog{
    margin-top: 55px;
}
.modalEstado .modal-content{
    font-family: 'Roboto', sans-serif;
    background-color: #fa3b7b;
}
.modalEstado .modal-body{
    text-align: center
}
.modalEstado .modal-body i{
    color: rgb(240, 240, 240);
    font-size: 100px;
    margin: 5px auto 10px auto;
}
.modalEstado .modal-footer{
    padding: 10px;
    text-align: center;
    display: block;
}
.modalEstado .modal-footer .si{
    border-right: 1px solid #e1e1e1;
}
.modalEstado .modal-body p{
    color: #fff;
    font-size: 19px;
}
.modalEstado .modal-body span{
    color: #fff;
    font-size: 14px;
}
.modalEstado .modal-footer span{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

/* Modal Detalle */
.modalDetalle .modal-dialog{
    margin-top: 55px;
}
.modalDetalle .modal-content{
    font-family: 'Roboto', sans-serif;
}
.modalDetalle .modal-header {
    padding: 10px 5px;
    display: block;
    background-color: #fa3b7b;
}
.modalDetalle .modal-header .numero{
    padding-left: 5px;
}
.modalDetalle .modal-header .numero p{
    font-size: 17px;
    font-weight: 550;
    color: #fff;
}
.modalDetalle .modal-header .x {
    text-align: right;
}
.modalDetalle .modal-header .x p{
    font-size: 22px;
    font-weight: 550;
    color: #fff;
}
.modalDetalle .modal-body {
    padding: 5px;
}
.modalDetalle .modal-body .titulo1{
    color: #fa3b7b;
    text-align: center;
    border-bottom: 1px solid #fa3b7b;
    text-transform: uppercase;
    font-weight: bold;

}
.modalDetalle .modal-body .titul{
    margin: 5px;
    text-transform: uppercase;
    color: #fa3b7b;
}

.modalDetalle .modal-body .producto .nombre {
    padding-left: 5px;
}
.modalDetalle .modal-body .delivery .precioDelivery{
    text-align: right;
}
.modalDetalle .modal-footer {
    padding: 10px 5px;
    display: block;
    background-color: #fa3b7b;
    text-align: right;
}
.modalDetalle .modal-footer p{
    font-size: 17px;
    font-weight: 550;
    color: #fff;
}
