
/* --------BARRA DE NAVEGACION----------- */
.caja-nav{
    background-color: #fa3b7b;
    width: 100%;
    height: 55px;
    max-height: 55px;
    text-align: center;
}
.caja-nav .col-3{
    padding-top: 15px;
    padding-bottom: 15px;
}
.caja-nav .row{
    margin: 0!important;
    height: 100%;
    display: flex;
    align-items: center;
}
.caja-nav button i{
    color: #fff;
    font-size: 22px;
}
.caja-nav .menu{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    text-align: center;
    padding: 0 0 0 5px;
}
.caja-nav .titulo{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;  
}



/* -------------TAB---------------- */
.tab{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.tab p{
    margin-bottom: 0;
}
.tab a.active{
    color: #fa3b7b!important;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #fa3b7b;
}
.tab .item{
    width: 50%;  
    border: 0;
    padding: 15px 0;
}
.tab a.item{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    /* letter-spacing: 0.75pt; */
    cursor: pointer;
    transition: all .3s ease;
}
.tab a.item:hover{
    background-color: #fff;
    color: #fa3b7b;
}

/* ------CAJA PEDIDOS--------- */
.caja-pedidos {
    background-color: #f4f4f4;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
}
.caja-pedidos .listaVacia{
    text-align: center;
    margin: 20% 0;
    font-size: 17px;
    font-weight: 400;
}
.caja-pedidos p{
    margin-bottom: 0;
}
.caja-pedidos .pedido{
    padding: 5px 0;
    border-bottom: 1px solid #cccccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.07), 0 1px 1px -2px rgba(0,0,0,.1);
    margin-bottom: 5px;
}
.caja-pedidos .pedido .row{
    flex-wrap: nowrap;
    margin: 0;
}

/* -------PEDIDOS: En Curso----------- */
.caja-pedidos .nav-encurso .pedido .col-1,
.caja-pedidos .nav-encurso .pedido .col-2,
.caja-pedidos .nav-encurso .pedido .col-3,
.caja-pedidos .nav-encurso .pedido .col-4,
.caja-pedidos .nav-encurso .pedido .col-5,
.caja-pedidos .nav-encurso .pedido .col-6,
.caja-pedidos .nav-encurso .pedido .col-7,
.caja-pedidos .nav-encurso .pedido .col-8,
.caja-pedidos .nav-encurso .pedido .col-9,
.caja-pedidos .nav-encurso .pedido .col-10,
.caja-pedidos .nav-encurso .pedido .col-11,
.caja-pedidos .nav-encurso .pedido .col-12{
    padding: 0;
}
.caja-pedidos .nav-encurso .pedido .imagen{
    display:flex;
    justify-content: center;
    align-items: center;
}
.caja-pedidos .nav-encurso .pedido img{
    width: 80%;
}
.caja-pedidos .nav-encurso .pedido .comercio{
    padding-left: 10px;
}
.caja-pedidos .nav-encurso .pedido .comercio .nombre{  
    font-size: 16px;
    font-weight: 600;  
}
.caja-pedidos .nav-encurso .pedido .comercio .numeroOrden{
    font-size: 14px;
    font-weight: 400;
}
.caja-pedidos .nav-encurso .pedido .comercio .numeroOrden p{
    margin-top: -5px;
    margin-bottom: 5px;
}
.caja-pedidos .nav-encurso .pedido .comercio .fecha{
    font-size: 14px;
    font-weight: 400;
}
.caja-pedidos .nav-encurso .pedido .comercio .estado{
    font-size: 14px;
    font-weight: 500;
    padding-right: 10px;
    text-align: right;
}
.caja-pedidos .nav-encurso .pedido .comercio .precio{
    height: 100%;
    text-align: right
}
.caja-pedidos .nav-encurso .pedido .comercio .precio p{
    font-size: 18px;
    font-weight: 500;
    padding-right: 10px;
    color: #fa3b7b;
}


/* -------PEDIDOS: Historial----------- */
.caja-pedidos .nav-historial .pedido .col-1,
.caja-pedidos .nav-historial .pedido .col-2,
.caja-pedidos .nav-historial .pedido .col-3,
.caja-pedidos .nav-historial .pedido .col-4,
.caja-pedidos .nav-historial .pedido .col-5,
.caja-pedidos .nav-historial .pedido .col-6,
.caja-pedidos .nav-historial .pedido .col-7,
.caja-pedidos .nav-historial .pedido .col-8,
.caja-pedidos .nav-historial .pedido .col-9,
.caja-pedidos .nav-historial .pedido .col-10,
.caja-pedidos .nav-historial .pedido .col-11,
.caja-pedidos .nav-historial .pedido .col-12{
    padding: 0;
}
.caja-pedidos .nav-historial .pedido .imagen{
    display:flex;
    justify-content: center;
    align-items: center;
}
.caja-pedidos .nav-historial .pedido img{
    width: 80%;
}
.caja-pedidos .nav-historial .pedido .comercio{
    padding-left: 10px;
}
.caja-pedidos .nav-historial .pedido .comercio .nombre{  
    font-size: 16px;
    font-weight: 600;  
}
.caja-pedidos .nav-historial .pedido .comercio .numeroOrden{
    font-size: 14px;
    font-weight: 400;
}
.caja-pedidos .nav-historial .pedido .comercio .numeroOrden p{
    margin-top: -5px;
    margin-bottom: 5px;
}
.caja-pedidos .nav-historial .pedido .comercio .fecha{
    font-size: 14px;
    font-weight: 400;
}
.caja-pedidos .nav-historial .pedido .comercio .estado{
    font-size: 14px;
    font-weight: 500;
    padding-right: 10px;
    text-align: right;
}
.caja-pedidos .nav-historial .pedido .comercio .precio{
    height: 100%;
    text-align: right
}
.caja-pedidos .nav-historial .pedido .comercio .precio p{
    font-size: 16px;
    font-weight: 400;
    padding-right: 10px;
    color: #fa3b7b;
}
