<div class="contenedor">
	<div class="caja-datos">
		<img src="{{ _fs.usuario.foto }}" alt="">
		<span>Usuario</span>
		<input type="text" value="Nickname">
		<span>Nombre</span>
		<input type="text" value="{{ _fs.usuario.nombre }}">
		<span>Apellido</span>
		<input type="text" value="">
		<span>Correo electrónico</span>
		<input type="email" value="{{ _fs.usuario.email }}" readonly disabled>
		<span>Teléfono</span>
		<input type="text" value="3804 697822">
		<button class="guardar">
			<span class="text">Guardar</span>
		</button>
	</div>
</div>
