<div class="caja-nav" *ngIf="this.ap.exist">

	<div class="row">

		<div class="col-3"  (click)="this.ap._toggleOpened()">
			<button class="menu">
				<i class="fas fa-bars"></i>
			</button>
		</div>

		<div class="col-6">
			<span class="titulo">Perfil</span>
		</div>

		<div class="col-3" [routerLink]="['editar']">
			<button class="editar">
				<i class="fas fa-edit"></i>
			</button>
		</div>
	</div>
	
</div>



<div>

	<div class="caja-usuario row  animated fadeIn fast">

		<div class="usuario col-12">

			<div class="foto">

				<img src="{{ usuario.foto }}" alt="foto_usuario">

			</div>

			<div class="nick">

				<span>{{ usuario.nick }}</span>

			</div>

			<div class="email">

				<span>{{ usuario.email }}</span>

			</div>

		</div>

	</div>

</div>





<!-- <div class="contenedor" *ngIf="this.ap.exist">
	<form class="caja-datos">
		<img src="{{ usuario.foto }}" alt="">
		<div class="form-group">
			<span>Usuario*</span>
			<input type="text" class="form-control" value="{{ usuario.nick }}" #nic maxlength="15" required>
			
		</div>
		<div class="form-group">
			<span>Nombre*</span>
			<input type="text" class="form-control" value="{{ usuario.nombre }}" #nom maxlength="20" required>
			
		</div>
		<div class="form-group">
			<span>Apellido*</span>
			<input type="text" class="form-control" value="{{ usuario.apellido }}" #ape maxlength="20" required>
			
		</div>
		<div class="form-group">
			<span>Correo electrónico</span>
			<input type="email" class="form-control" value="{{ usuario.email }}" readonly disabled>
		</div>
		<div class="form-group">
			<span>Movil</span>
			<input type="text" value="{{ usuario.movil }}" #mov>
		</div>

		<button type="submit" class="guardar" (click)="actualizarDatos( nic.value, nom.value, ape.value, mov.value)">
			<span class="text">Guardar</span>
		</button>
	</form>
</div> -->
