.caja-nav{
    /* background-color: #fa3b7b; */
    width: 100%;
    height: 55px;
    max-height: 55px;
    text-align: center;
    /* padding: 12px 0 11px 0; */
}
.caja-nav .col-3{
    padding-top: 15px;
    padding-bottom: 15px;
}
.caja-nav .row{
    margin: 0!important;
    height: 100%;
    display: flex;
    align-items: center;
}
.caja-nav button.menu{
    /* color: #ffffff; */
    background: none;
    border: 0;
    outline: 0;
    margin-left: 5px;
    padding: 0;
}
.caja-nav button i{
    /* color: #fff; */
    font-size: 22px;
}
.caja-nav span.titulo{
    /* color: #fff; */
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;  
}
.caja-nav button.editar{
    /* color: #ffffff; */
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
}



/* CAJA USUARIO */
.caja-usuario{
    /* background-color: #fa3b7b; */
    padding: 10px 0;
}
.usuario .foto{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.usuario .foto img{
    width: 100%;
    height: 100%;
    border-radius: 100px;    
    box-shadow: 0px 2px 30px 0 rgba(255, 255, 255, 0.6);
}
.usuario .nick{
    display: block;
    text-align: center;
    line-height: 14px;
    margin-top: 5px;
}
.usuario .nick span{
    color: #666666;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.usuario .email{
    display: block;
    text-align: center;
    line-height: 12px;
}
.usuario .email span{
    color: #b4b4b4;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}































.caja-datos img{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #495057;
    border-radius: 50%;
    margin: 20px auto;
}
.caja-datos span{
    display: block;
    color: #495057;
    width: 264px;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0 auto;
}
.caja-datos input{
    display: block;
    color: #495057;
    width: 264px;
    border: 1px solid #ced4da;
    /* border: 0; */
    border-radius: 5px;
    padding: 6px 16px;
    margin: 0 auto 15px auto;

    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
.caja-datos input:hover{
    border-color: #80bdff;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); */
}
.caja-datos button{
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    width: 100%;
    max-width: 264px;
    height: auto;
    border-radius: 3px;  
    background-color: #18ad7c;
    border: 1px solid #18ad7c;
    cursor: pointer;
}
.caja-datos button:hover{
    outline: 0;
    background-color: #1ec58d;
    border: 1px solid #1ec58d;
}
.caja-datos button span{
    color: #ffffff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25pt;
    width: 100%;
}
button:disabled {
    background-color: #e1e1e1!important;
}