<!-- <app-nav></app-nav>

<router-outlet></router-outlet> -->


<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>
 
    <!-- A sidebar -->
    <ng-sidebar
        [(opened)]="_opened"
        [mode]="'over'"
        [showBackdrop]="'false'"
        [closeOnClickOutside]="'true'">
        <div class="sidebar"  *ngIf="_fs.usuario.uid">
            <div class="cajaUsuario">
                <p class="salir" (click)="_fs.logout()" [routerLink]="['/login']"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</p>
                <img class="foto" src="{{ _fs.usuario.foto }}">
                <p class="nombre">{{ _fs.usuario.nombre }}</p>
                <p class="email">{{ _fs.usuario.email }}</p>
            </div>
            <div class="caja">
                <a [routerLink]="['/home']"><i class="fas fa-home"></i><span>Página principal</span></a>
            </div>
            <hr>
            <div class="caja">
                <a href="#"><i class="fas fa-shipping-fast"></i><span>Item 1</span></a>
            </div>
            <div class="caja">
                <a href="#"><i class="fas fa-shipping-fast"></i><span>Item 2</span></a>
            </div>
            <div class="caja">
                <a href="#"><i class="fas fa-shipping-fast"></i><span>Item 3</span></a>
            </div>
            <hr>
            <div class="caja">
                <a href="#"><i class="fas fa-shipping-fast"></i><span>Item 1</span></a>
            </div>
            <div class="caja">
                <a href="#"><i class="fas fa-shipping-fast"></i><span>Item 2</span></a>
            </div>        
            <hr>
            <div class="caja">
                <a href="#"><p>Ayuda y sugerencias</p></a>
                <a href="#"><p>Guía para padres</p></a>
                <a href="#"><p>Información sobre Google Play</p></a>
            </div>      

        </div>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <div class="nav">
            <button class="btnMenu" *ngIf="_fs.usuario.uid" (click)="_toggleOpened()"><i class="fas fa-bars"></i></button>
            <span class="titulo" [routerLink]="['/home']">miApp</span>
            <button class="btnIngresar" *ngIf="!_fs.usuario.uid" [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
        </div>
        
        <router-outlet></router-outlet>
    </div>
   
</ng-sidebar-container>