<!-- <app-nav></app-nav>

<router-outlet></router-outlet> -->


<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>
 
    <!-- A sidebar -->
    <ng-sidebar
        [(opened)]="_opened"
        [mode]="'over'"
        [showBackdrop]="'false'"
        [closeOnClickOutside]='false'
        [closeOnClickBackdrop]='true'>
        <div class="sidebar"  *ngIf="exist">
            <div class="row cajaUsuario align-items-center">
                <div class="col-auto p-0">
                    <img class="foto" src="{{ usuario.foto }}">
                </div>
                <div class="col-8">
                    <p class="nombre">¡Hola {{ usuario.nick }}!</p>
                    <p class="email">{{ usuario.email }}</p>
                </div>
            </div>
            <div class="caja-comercio" [routerLink]="['/micomercio']" (click)="_toggleOpened()" *ngIf="comerciante" style="border-top: 0.5px solid #fff">
                <a><i class="fas fa-store"></i><span>Mi comercio</span></a>
                <p *ngIf="estadoo" style="margin-bottom:0; font-size:12px; color: #fff; margin-left:12%">Abierto</p>
                <p *ngIf="!estadoo" style="margin-bottom:0; font-size:12px; color: #fff; margin-left:12%">Cerrado</p>
            </div>     
            <div class="caja" [routerLink]="['/home']" (click)="_toggleOpened()">
                <a><i class="fas fa-home"></i><span>Inicio</span></a>
            </div>
            <div class="caja" [routerLink]="['/micuenta']" (click)="_toggleOpened()">
                <a><i class="fas fa-user"></i><span>Mi cuenta</span></a>
            </div>
            <div class="caja" [routerLink]="['/direcciones']" (click)="_toggleOpened()">
                <a><i class="fas fa-compass"></i><span>Direcciones</span></a>
            </div>
            <div class="caja" [routerLink]="['/pedidos']" (click)="_toggleOpened()">
                <a><i class="fas fa-clipboard"></i><span>Mis Pedidos</span></a>
            </div>
            <div class="caja" [routerLink]="['/favoritos']" (click)="_toggleOpened()">
                <a><i class="fas fa-heart"></i><span>Favoritos</span></a>
            </div>
            <div class="caja" [routerLink]="['/notificaciones']" (click)="_toggleOpened()">
                <a><i class="fas fa-bell"></i><span>Notificaciones</span></a>
            </div>
            <hr>
            <div class="caja" (click)="cerrarSesion()" [routerLink]="['/login']" (click)="_toggleOpened()">
                <a><i class="fas fa-power-off"></i><span>Cerrar sesión</span></a>
            </div>     
            <hr>
            <div class="caja">
                <!-- earlybirds -->
                <a href="#"><p>Ayuda y sugerencias</p></a>
                <a href="#"><p>Preguntas Frecuentes</p></a>
                <a href="#"><p>Contáctanos</p></a>
            </div>   

        </div>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>

        <!-- <div class="nav">
            <button class="btnMenu" *ngIf="exist" (click)="_toggleOpened()"><i class="fas fa-bars"></i></button>
            <span class="titulo" [routerLink]="['/home']"><i class="fab fa-phoenix-framework"></i> AQUI </span>
            <button class="btnIngresar" *ngIf="!exist" [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
        </div> -->
        
        <router-outlet></router-outlet>
        <!-- <app-home></app-home> -->
    </div>

   
</ng-sidebar-container>