<!-- <app-nav></app-nav>

<router-outlet></router-outlet> -->


<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>
 
    <!-- A sidebar -->
    <ng-sidebar
        [(opened)]="_opened"
        [mode]="'over'"
        [showBackdrop]="'false'"
        [closeOnClickOutside]='false'
        [closeOnClickBackdrop]='true'>
        <div class="sidebar"  *ngIf="_fs.usuario.uid">
            <div class="row cajaUsuario align-items-center">
                <div class="col-auto p-0">
                    <img class="foto" src="{{ usuario.foto }}">
                </div>
                <div class="col-8">
                    <p class="nombre">¡Hola {{ usuario.nick }}!</p>
                    <p class="email">{{ usuario.email }}</p>
                </div>
            </div>
            <div class="caja" [routerLink]="['/home']" (click)="_toggleOpened()">
                <a><i class="fas fa-home"></i><span>Inicio</span></a>
            </div>
            <div class="caja" [routerLink]="['/micuenta']" (click)="_toggleOpened()">
                <a><i class="fas fa-user"></i><span>Mi cuenta</span></a>
            </div>
            <div class="caja" [routerLink]="['/direcciones']" (click)="_toggleOpened()">
                <a><i class="fas fa-map-marker-alt"></i><span>Mis Direcciones</span></a>
            </div>
            <div class="caja" [routerLink]="['/pedidos']" (click)="_toggleOpened()">
                <a><i class="fas fa-edit"></i><span>Pedidos</span></a>
            </div>
            <div class="caja" [routerLink]="['/favoritos']" (click)="_toggleOpened()">
                <a><i class="fas fa-heart"></i><span>Favoritos</span></a>
            </div>
            <div class="caja" [routerLink]="['/notificaciones']" (click)="_toggleOpened()">
                <a><i class="fas fa-bell"></i><span>Notificaciones</span></a>
            </div>
            <hr>
            <div class="caja" (click)="_fs.logout()" [routerLink]="['/login']" (click)="_toggleOpened()">
                <a><i class="fas fa-power-off"></i><span>Cerrar sesión</span></a>
            </div>     
            <hr>
            <div class="caja">
                <!-- earlybirds -->
                <a href="#"><p>Ayuda y sugerencias</p></a>
                <a href="#"><p>Preguntas Frecuentes</p></a>
                <a href="#"><p>Contáctanos</p></a>
            </div>   

        </div>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
        <div class="nav">
            <button class="btnMenu" *ngIf="_fs.usuario.uid" (click)="_toggleOpened()"><i class="fas fa-bars"></i></button>
            <span class="titulo" [routerLink]="['/home']"><i class="fab fa-phoenix-framework"></i> AQUI </span>
            <button class="btnIngresar" *ngIf="!_fs.usuario.uid" [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
        </div>
        
        <router-outlet></router-outlet>
    </div>

   
</ng-sidebar-container>