<!-- BARRA DE NAVEGACION -->
<!-- <div class="caja-nav">    
	<div class="row">
		<div class="col-2" style="text-align:left">
			<button class="menu">
				<i class="fas fa-bars"></i>
			</button>
		</div>

		<div class="col-8">
			<span class="titulo">Pedido completado</span>
		</div>
		
		<div class="col-2"></div>
	</div>
</div> -->

	<!-- CONTENIDO -->
	<div class="caja animated fadeIn fast">

		<div class="caja-contenido">
			<i class="fas fa-check-circle"></i>
			<span>Pedido completado</span>
			<p>Tu pedido fué enviado correctamente, recuerda que puedes seguir el estado de tu pedido usando esta app!</p>				
			<button [routerLink]="['/pedidos']">Mis Pedidos</button>
		</div>

	</div>

	<!-- SALUDO -->
	<!-- <div class="saludo animated fadeIn fast">
		<i class="fa fa-grin-beam"></i>
		<div class="texto">
			<p>¡Gracias!</p>
		</div>
	</div> -->





<!-- BOTON IR A PEDIDOS -->
<!-- <div class="caja-boton fixed-bottom">
  <button class="btnMisPedidos" [routerLink]="['/pedidos']">
    <span>Ir a Mis Pedidos</span>
  </button>
</div> -->