/* ----------BARRA NAVEGACION------------- */
.caja-nav{
    background-color: #fa3b7b;
    width: 100%;
    height: 55px;
    max-height: 55px;
    text-align: center;
}
.caja-nav .col-3{
    padding-top: 15px;
    padding-bottom: 15px;
}
.caja-nav .row{
    margin: 0!important;
    height: 100%;
    display: flex;
    align-items: center;
}
.caja-nav button i{
    color: #fff;
    font-size: 22px;
}
.caja-nav .menu{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    text-align: center;
    padding: 0 0 0 5px;
}
.caja-nav .titulo{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;  
}

/* -----------CONTENIDO-------------- */
.contenido {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-top: 0;
    width: 80%;
    padding: 20% 10px 10px 10px;
    text-align: center;
    box-shadow: 0 3px 4px 0 green, 0 1px 1px -2px green;
    border-radius: 0  0 20px 20px;
}
.contenido p{
    margin-bottom: 0;
}
.contenido i {
    color: green ;
    font-size: 70px;
    margin-bottom: 20px;
}
.contenido .uno {
    font-size: 25px;
    font-weight: 700;
}
.contenido .texto {
    color: #666;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 10px 10px 10px;
    line-height: 1.7em;
}
.contenido .texto .titulo {
    font-size: 16px;
    font-weight: 500;
}
.contenido .txtNroOrden {
    margin: 5px 0;
    border-bottom: 1px solid #c1c1c1;
}
.contenido .txtNroOrden p{
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0;
}
.contenido .nroOrden p{
    font-size: 25px;
    font-weight: 500;
}

/* ------SALUDO------ */
.saludo {
    width: 80%;
    text-align: center;
    margin: 10% auto 70px auto;
}
.saludo i{
    font-size: 50px;
    color: #fa3b7b;
}
.saludo .texto{
    font-size: 25px;
    font-weight: 400;
}


/* ------BOTON VER MIS PEDIDOS-------- */
.caja-boton{
    padding: 10px 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.caja-boton .btnMisPedidos  {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: #1c65c4;
    font-size: 16px;
    font-weight: 500;  
    border: 0;
    border-radius: 5px;
    outline: 0;
}
.caja-boton .btnMisPedidos:hover {
    background-color: #2074e2;
}