<!-- <div class="contenedor animated fadeIn fast">

    <div class="nombreApp" *ngIf="!_fs.usuario.uid">
        <span>myApp</span>
    </div>

    <div class="descripcion">
        <p *ngIf="!_fs.usuario.uid">Ingresa con tu cuenta favorita y difruta al máximo la sorprendente App de comidas.</p>
        <img *ngIf="_fs.usuario.uid" class="foto animated fadeIn" src="{{ _fs.usuario.foto }}">
        <p *ngIf="_fs.usuario.uid" class="animated fadeIn">Bienvenido {{ _fs.usuario.nombre }}.</p>
    </div>

    <div class="boton" *ngIf="!_fs.usuario.uid">
        <span (click)="_fs.login('google')">
            Ingresar con Google
        </span>
    </div>

</div> -->

<!-- <div class="container bienvenida" *ngIf="_fs.usuario.uid">
    <img  class="foto animated fadeIn" src="{{ _fs.usuario.foto }}">
    <p class="animated fadeIn">Bienvenid@ {{ _fs.usuario.nombre }}.</p>
    <br>
    <p>Redireccionando...</p>
</div> -->

<div class="container login animated fadeIn"  *ngIf="!_fs.usuario.uid">
    <br>
    <form method="post">
        <div> 
            <h4>INICIAR SESIÓN</h4>
        </div>
        <br><br>
        <div class="campos">
            <div class='input-field col-12'>
                <label class="sr-only">Correo Electronico</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>
                    <input type="email" class="form-control" placeholder="Correo Electrónico">
                </div>
            </div>
            <br>
            <div class='input-field col-12'>
                <label class="sr-only">Contraseña</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
            </div>
        </div>
        <label class="olvidar-pass">
            <a href=''><b>Olvidé mi Contraseña</b></a>
        </label>
        <br><br>
        <div class="boton" *ngIf="!_fs.usuario.uid">
            <span>
                INGRESAR
            </span>
        </div>
        <br>
    </form>
    <br>
    <div class="redes-sociales">
        <p class="opcIngreso">utilizar mi cuenta de</p>
        <div class="row">
            <div class="botonR" *ngIf="!_fs.usuario.uid">
                <span>
                    Facebook
                </span>
            </div>
            <div class="botonR"  *ngIf="!_fs.usuario.uid">
                <span (click)="_fs.login('google')">
                    Google
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="center crear-cuenta">
        <p>¿Aun no tienes cuenta? - <a [routerLink]="['/register']">Crear cuenta</a></p>
    </div>
</div>
    