/* CAJA NAV */
.caja-nav{
    background-color: #fa3b7b;
    max-height: 50px;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    padding: 12px 0 11px 0;
}
.caja-nav .row{
    margin: 0!important;
}
.caja-nav button i{
    color: #fff;
    font-size: 22px;
}
.caja-nav .menu{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    text-align: center;
    padding: 0;
}
.caja-nav .titulo{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;  
}
.caja-nav .btnLogin{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
}





/* Nuevo */

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #fe4918;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #fe4918;
  box-shadow: none;
}
div.container{
    margin-top: 5%;
    text-align: center;
    padding: 0 20px 0 20px;
}
div.login form{
    border-bottom: 1px solid rgb(196, 196, 196);
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
}
div.login h4 {
    font-weight: bold;
    font-size: 29px;
}
.input-group-text {
    background-color: #fff;
}
.container .olvidar-pass {
    float: right;
    padding-right: 15px;
    margin-top: 15px;
    font-size: 12px;
}
.container .boton{
    margin: 22px 15%;
    height: 40px;
    border: 1px solid #fa3b7b;
    background-color: #ffffff;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
    transition: all .3s ease;
}
.container .boton span{
    font-weight: bold;
    color: #fa3b7b;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease;
}
.container .boton:hover,
.container .boton span:hover{
    background-color: #fa3b7b;
    color: #ffffff;
}
div.login p.opcIngreso {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.redes-sociales .botonR{
    margin: 0 auto;
    height: 40px;
    border: 1px solid #fa3b7b;
    background-color: #ffffff;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
    transition: all .3s ease;
    min-width: 45%;
}
.redes-sociales .botonR span{
    font-weight: bold;
    color: #fa3b7b;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s ease;
}
.redes-sociales .botonR:hover,
.redes-sociales .botonR span:hover{
    background-color: #fa3b7b;
    color: #ffffff;
}
div.crear-cuenta p {
    color: black;
}
div.crear-cuenta a{
  text-decoration: none;
  color: #fe4918;
  font-weight: bold;
  text-transform: uppercase;
}

/* Bienvenida */
.bienvenida{
    margin-top: 40%;
    padding: 0 15%;
    text-align: center;
}
.bienvenida p{
    font-weight: bold;
    color: #b1b1b1;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
}
.bienvenida .foto{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 15px;
}

/* Enlace Cuenta Comercial */
.cuenta-comercial a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
}














.contenedor{
    background-image: linear-gradient(#ff88b0, #85344f);
    padding: 10% 15px;
    height: 100vh;
}
.redes-sociales{
    text-align: center;
}
.redes-sociales .encabezado{
    width: 260px;
    margin: 0 auto 35px auto;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
}
.encabezado h4{
    color: #fff;
}
.encabezado span{
    color: #fff;    
    font-size: 14px;
    font-weight: 400;
}
.redes-sociales button{
    display: block;
    margin: 0 auto 10px auto;
    padding: 8px 16px;
    width: 100%;
    max-width: 220px;
    height: auto;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);    

    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
}
.redes-sociales .ico{
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
}
.redes-sociales .text{
    padding-left: 16px;
}
.redes-sociales .gm{
    background-color: #fff;
}
.redes-sociales .gm .text{
    color: #757575;
}
.redes-sociales .fb{
    color: #fff;
    background-color: #3b5998;
}
.redes-sociales .ma{
    color: #fff;
    background-color: #db4437;
}

.caja-login p{
    color: #fff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin: 30px 0;
}

.mail{
    text-align: center;
}
.mail input{
    display: block;
    margin: 0 auto 0 auto;
    padding: 8px 16px;
    width: 100%;
    max-width: 220px;
    height: auto;
    border: 0;
    border-radius: 3px;    

    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.mail .inp{
    margin-bottom: 10px;
}
.mail span.inf{
    width: 220px;
    text-align: right;
    display: inline-block;
    margin-bottom: 25px;
}
.mail button{
    display: block;
    margin: 0 auto 50px auto;
    padding: 8px 16px;
    width: 100%;
    max-width: 220px;
    height: auto;
    border-radius: 3px;  
    border: 1px solid #fff;
    cursor: pointer;
}
.mail .ingresar{
    color: #fff;
    /* background-color: #cd37db; */
    background: none;    
    transition: all .3s ease;
}
.mail .ingresar:hover{
    background-color: #18ad7c;
    border: 1px solid #18ad7c;
}
.mail .ingresar .text{
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25pt;
}
.mail span{
    color: #ffffff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}