<div class="contenedor">



  <div class="caja-nav">   
    <div class="row">
      <!-- <div class="col-2" style="text-align:left" [routerLink]=[anterior]> -->
      <div class="col-2" style="text-align:left" (click)="irAtras()">
        <button class="regresar">
          <i class="fas fa-angle-left"></i>
        </button>
      </div>

      <div class="titulo col-8">
        <span>Detalle del pedido</span>
      </div>

      <div class="col-2"></div>
    </div>
  </div>

  <div class="caja-main animated fadeInBig">

    <div class="caja-productos animated fadeInDown" *ngIf="pedido && comercio && productos">

      <div class="estado row">

        <div class="fecha col-12">
          <span>{{ pedido.fecha | date:'short'}}</span>
        </div>

      </div>

      <div class="producto row m-0" *ngFor="let producto of productos">
        
        <div class="cantidad col-1">
          <span>{{ producto.cantidad }}</span>
        </div>

        <div class="nombre col-8">
          <span>{{ producto.nombre }}</span>
        </div>

        <div class="precio col-3">
          <span>${{ producto.precioTotal }}</span>
        </div>

      </div>


      <div class="delivery row m-0">

        <div class="texto col-8">
          <span>Delivery</span>
        </div>
        <div class="precioDelivery col-4">
          <span>${{ pedido.precioDelivery }}</span>
        </div>

      </div>


      <div class="total row">

        <div class="texto col-8">
          <span>TOTAL</span>
        </div>
        <div class="precioTotal col-4">
          <span>${{ pedido.total }}</span>
        </div>

      </div>

    </div>

  </div>







  <div class="caja-secundaria animated fadeIn" *ngIf="pedido && comercio && productos">


    <div class="row m-0">
      
      <div class="caja-estado col-12">
        <span *ngIf="pedido.estado == 'Pendiente'" style="color: #b4b4b4;">Pendiente</span>
        <span *ngIf="pedido.estado == 'En proceso'" style="color:#2b62d8">En proceso</span>
        <span *ngIf="pedido.estado == 'Listo' && pedido.delivery == true" style="color:#1bb140">En camino</span>
        <span *ngIf="pedido.estado == 'Listo' && pedido.delivery == false" style="color:#1bb140">Listo para retirar</span>
        <span *ngIf="pedido.estado == 'Entregado'" style="color:#b4b4b4">Entregado</span>
        <span *ngIf="pedido.estado == 'Rechazado'" style="color:#b4b4b4">Rechazado</span>
        <span *ngIf="pedido.estado == 'Cancelado'" style="color:#b4b4b4">Cancelado</span>
      </div>
      
    </div>

    <div class="formaEntrega">
      <span *ngIf="pedido.delivery == true">Delivery</span>
      <span *ngIf="pedido.delivery == false">Retiro en el local</span>
    </div>

    <div class="caja-direccion animated zoomIn row" *ngIf="pedido.delivery == true">

      <div class="direccion col-12">

        <i class="fas fa-map-marker-alt"></i>
        <span>{{ pedido.direccion.calle }} {{ pedido.direccion.numero }}</span>
        <span>B° {{ pedido.direccion.barrio }}</span>
        <!-- <span>{{ pedido.direccion.ciudad }} ({{ pedido.direccion.cp }}), {{ pedido.direccion.provincia }}</span> -->

      </div>

    </div>

    <div class="caja-comercio animated zoomIn row ">

      <div class="comercio col-12">

        <i class="fas fa-store"></i>
        <span>{{ comercio.nombre }}</span>
        <span>{{ comercio.calle }} {{ comercio.numero }}</span>
        <span>B° {{ comercio.barrio }}</span>
        <span>{{ comercio.telefono }}</span>

      </div>

    </div>

    <div class="caja-padding" *ngIf="pedido.estado == 'Pendiente'"></div>

    <div class="caja-boton fixed-bottom" *ngIf="pedido.estado == 'Pendiente'">
      <button class="btnCancelar animated zoomIn">
        <span>Cancelar pedido</span>
      </button>
    </div>
    
  </div>



</div>