/* ----------BARRA NAVEGACION------------- */
.caja-nav{
    background-color: #fa3b7b;
    width: 100%;
    height: 55px;
    max-height: 55px;
    text-align: center;
    padding: 12px 0 11px 0;
}
.caja-nav .col-2{
    padding-top: 15px;
    padding-bottom: 15px;
}
.caja-nav .row{
    margin: 0!important;
    height: 100%;
    display: flex;
    align-items: center;
}
.caja-nav button.regresar{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    margin-left: 5px;
    padding: 0;
}
.caja-nav button i{
    color: #fff;
    font-size: 22px;
}
.caja-nav span.titulo{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;   
}


/* -------CONTENEDOR-------- */
.contenedor{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 5px 5px 65px 5px;
}
.contenedor .col-1,
.contenedor .col-2,
.contenedor .col-3,
.contenedor .col-4,
.contenedor .col-5,
.contenedor .col-6,
.contenedor .col-7,
.contenedor .col-8,
.contenedor .col-9,
.contenedor .col-10,
.contenedor .col-11,
.contenedor .col-12 {
    padding: 0;
}
.contenedor .row{
    flex-wrap: nowrap;
    margin: 0;
}
.contenedor p {
    margin-bottom: 0;
}

/* -------CABECERA------ */
.cabecera {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    box-shadow: 0px 3px 4px 0 rgba(0,0,0,.07), 0 1px 1px -2px rgba(0,0,0,.1);
}
.cabecera .numeroOrden {
    font-size: 16px;
    font-weight: 600;
    display:flex;
    align-items: center;
}
.cabecera .total {
    text-align: right;
    font-size: 20px;
    color: #fa3b7b;
    font-weight: 600;
}
.cabecera .fecha {
    font-size: 14px;
    font-weight: 500;
    color: #7e7d7d;
    display:flex;
    align-items: center;
}
.cabecera .estado {
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}

/* -------CUERPO GENERAL------- */
.cuerpo {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.07), 0 1px 1px -2px rgba(0,0,0,.1);
    margin-bottom: 5px;
}
.cuerpo .txtProductos,
.cuerpo .txtCliente,
.cuerpo .txtEntrega {
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #f4f4f4;
    text-transform: uppercase;
    padding: 5px 0;
    margin-bottom: 10px;
    color: #fa3b7b;
}

/* ------CLIENTE-------- */
.cuerpo .cliente {
    padding: 5px 15px;
}
.cuerpo .cliente .icono {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}
.cuerpo .cliente .caja-datos .nombre{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}
.cuerpo .cliente .caja-datos .contacto p{
    font-size: 14px;
    color: gray;
    margin-top: -5px;
}
.cuerpo .cliente .caja-datos .llamar{
    padding: 5px 10px;
    background-color: #fa3b7b;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.cuerpo .cliente .caja-datos .llamar a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

/* ------PRODUCTOS-------- */
.cuerpo .productos {
    padding: 5px 15px;
}
.cuerpo .productos .cantidad {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}
.cuerpo .productos .nombre{
    font-size: 16px;
    font-weight: 500;
}
.cuerpo .productos .nombre .aclaracion{
    font-size: 12px;
    color: gray;
    margin-top: -5px;
}
.cuerpo .productos .precio{
    text-align: right;
    font-size: 14px;
}

/* -------ENTREGA------- */
.cuerpo .tituloEntrega .tipo {
    font-weight: 500;
    font-size: 16px;
    text-align: right;
}
.cuerpo .entrega {
    padding: 5px 15px;
}
.cuerpo .entrega .precio{
    font-size: 14px;
    text-align: right;
}
.cuerpo .entrega .direccion2 {
    margin-top: 5px;
}
.cuerpo .entrega .direccion p {
    margin-bottom: -5px;
    font-size: 14px;
}
.cuerpo .entrega .direccion2 p {
    font-size: 14px;
    color: grey;
    margin-bottom: -5px;
}
.cuerpo .entrega .btnMapa {
    padding: 5px;
    background-color: #fa3b7b;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.cuerpo .entrega .mapa{
    margin-top: 10px;
    border: 1px solid #7e7d7d;
}
agm-map {
    width: 100%;
    height: 300px;
}




/* -------CAJA DEL BOTON-------- */
.caja-boton{
    padding: 10px 10px;
    text-align: center;
}

/* ------BOTON RECHAZAR------ */
.caja-boton button.btnRechazar{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: rgb(187, 1, 1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;  
    border: 1px solid rgb(187, 1, 1);
    border-radius: 5px;
    outline: 0;
}
.caja-boton button.btnRechazar:hover{
    background-color: rgb(255, 0, 0);
    color: #fff;
}

/* ------BOTON ACEPTAR------ */
.caja-boton button.btnAceptar{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: rgb(0, 185, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;  
    border: 1px solid rgb(0, 185, 0);
    border-radius: 5px;
    outline: 0;
}
.caja-boton button.btnAceptar:hover{
    background-color: rgb(0, 214, 0);
    color: #fff;
}