<!-- BARRA DE NAVEGACION -->
<div class="caja-nav">   
	<div class="row">
		<div class="col-2" style="text-align:left" [routerLink]="['/micomercio']">
			<button class="regresar">
				<i class="fas fa-angle-left"></i>
			</button>
		</div>

		<div class="col-8" style="text-align:left">
			<span class="titulo">Todos los Pedidos</span>
		</div>

		<div class="col-2"></div>
	</div>
</div>



<!-- TAB -->
<div class="nav nav-tabs tab" id="nav-tab" role="tablist">
	<a class="nav-item nav-link item  active" data-toggle="tab" href="#nav-pendientes" role="tab">
		<p>Pendientes</p>
		<p>(2)</p>
	</a>
	<a class="nav-item nav-link item" data-toggle="tab" href="#nav-aceptados" role="tab">
		<p>Aceptados</p>
		<p>(3)</p>
	</a>
	<a class="nav-item nav-link item" data-toggle="tab" href="#nav-historial" role="tab">
		<p>Historial</p>
		<!-- <p>(4)</p> -->
	</a>
</div>

<div class="tab-content caja-pedidos" id="nav-tabContent">

	
	<!-- Pendientes -->
	<div class="tab-pane fade show active nav-pendientes" id="nav-pendientes" role="tabpanel">
		<div class="animated fadeIn fast ">
			<div class="pedido" [routerLink]="['/detalle-co-pedido']">
				<div class="row">
					<div class="col-1 numero">
						<p>1°</p>
					</div>
					<div class="col-11">
						<div class="row">
							<div class="col-9 cliente">
								<p class="nombre">Franco Martinez</p>
								<p class="direccion">B° Angel V Peñaloza</p>
								<p class="direccion">Victoria Romero, 221</p>
							</div>
							<div class="col-3 dato">
								<div class="hora">
									<p>21:37</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-9 entrega">
								<p style="color:#666666">Retiro por el Local</p>
							</div>
							<div class="col-3 precio">
								<p>$ 320</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="pedido" [routerLink]="['/detalle-co-pedido']">
				<div class="row">
					<div class="col-1 numero">
						<p>2°</p>
					</div>
					<div class="col-11">
						<div class="row">
							<div class="col-9 cliente">
								<p class="nombre">Lucas Ezequiel Molina</p>
								<p class="direccion">B° Centro</p>
								<p class="direccion">Av. Luis Vernet, 1230</p>
							</div>
							<div class="col-3 dato">
								<div class="hora">
									<p>21:45</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-9 entrega">
								<p style="color:green">Delivery</p>
							</div>
							<div class="col-3 precio">
								<p>$ 280</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	
	<!-- Aceptados -->
	<div class="tab-pane fade nav-aceptados" id="nav-aceptados" role="tabpane2">
		<div class="animated fadeIn fast">
			<div class="pedido" [routerLink]="['/detalle-co-pedido']">
				<div class="row">
					<div class="col-1 numero">
						<p>1°</p>
					</div>
					<div class="col-11 cliente">
						<div class="row">
							<div class="col-9 nombre">
								<p>Diego Gonzalez <span>#125</span></p>
							</div>
							<div class="col-3 hora">
								<p>20:50</p>
							</div>
						</div>
						<div class="row">
							<div class="col-9 direccion">
								<p>B° America</p>
								<p>Sin nombre, 52</p>
							</div>
							<div class="col-3 precio">
								<p>$ 350</p>
							</div>
						</div>
						<div class="row">
							<div class="col-6 entrega">
								<p style="color:#666666">Retiro por el Local</p>
							</div>
							<div class="col-6 estado">
								<p style="color:green">Listo para Retirar</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="pedido" [routerLink]="['/detalle-co-pedido']">
				<div class="row">
					<div class="col-1 numero">
						<p>2°</p>
					</div>
					<div class="col-11 cliente">
						<div class="row">
							<div class="col-9 nombre">
								<p>Diego Gonzalez <span>#125</span></p>
							</div>
							<div class="col-3 hora">
								<p>20:50</p>
							</div>
						</div>
						<div class="row">
							<div class="col-9 direccion">
								<p>B° America</p>
								<p>Sin nombre, 52</p>
							</div>
							<div class="col-3 precio">
								<p>$ 350</p>
							</div>
						</div>
						<div class="row">
							<div class="col-6 entrega">
								<p style="color:green">Delivery</p>
							</div>
							<div class="col-6 estado">
								<p style="color:green">En Camino</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="pedido" [routerLink]="['/detalle-co-pedido']">
				<div class="row">
					<div class="col-1 numero">
						<p>3°</p>
					</div>
					<div class="col-11 cliente">
						<div class="row">
							<div class="col-9 nombre">
								<p>Diego Gonzalez <span>#125</span></p>
							</div>
							<div class="col-3 hora">
								<p>20:50</p>
							</div>
						</div>
						<div class="row">
							<div class="col-9 direccion">
								<p>B° America</p>
								<p>Sin nombre, 52</p>
							</div>
							<div class="col-3 precio">
								<p>$ 350</p>
							</div>
						</div>
						<div class="row">
							<div class="col-6 entrega">
								<p style="color:green">Delivery</p>
							</div>
							<div class="col-6 estado">
								<p style="color:rgb(16, 105, 221)">En Preparación</p>
							</div>
						</div>
					</div>
				</div>	
			</div>

			<!-- SI NO EXISTEN PEDIDOS -->
			<!-- <div class="listaVacia">
				<p>No hay pedidos</p>
			</div> -->
		</div>
	</div>
	

	<!-- Completados -->
	<div class="tab-pane fade nav-historial" id="nav-historial" role="tabpane3">
		<div class="animated fadeIn fast">
			<div class="pedido" [routerLink]="['/detalle-co-pedido']">
				<div class="row">
					<div class="col-1 estado">
						<p><i class="fa fa-check text-success"></i></p>
					</div>
					<div class="col-11">
						<div class="row">
							<div class="col-9 cliente">
								<p class="nombre">Miguel Toledo</p>
								<p class="direccion">B° Centro</p>
								<p class="direccion">Miranda, 386</p>
							</div>
							<div class="col-3 dato">
								<div class="numero">
									<p>#115</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6 fecha">
								<p>11/10/18 21:45</p>
							</div>
							<div class="col-6 precio">
								<p>$110</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="pedido" [routerLink]="['/detalle-co-pedido']">
				<div class="row">
					<div class="col-1 estado">
						<p><i class="fa fa-check text-success"></i></p>
					</div>
					<div class="col-11">
						<div class="row">
							<div class="col-9 cliente">
								<p class="nombre">Ramiro Nieto</p>
								<p class="direccion">B° Tres Esquinas</p>
								<p class="direccion">Los Azucares, 77</p>
							</div>
							<div class="col-3 dato">
								<div class="numero">
									<p>#107</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6 fecha">
								<p>11/10/18 21:45</p>
							</div>
							<div class="col-6 precio">
								<p>$310</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="pedido" [routerLink]="['/detalle-co-pedido']">
				<div class="row">
					<div class="col-1 estado">
						<p><i class="fa fa-times text-danger"></i></p>
					</div>
					<div class="col-11">
						<div class="row">
							<div class="col-9 cliente">
								<p class="nombre">Jose Luis Romero</p>
								<p class="direccion">B° Rosedal</p>
								<p class="direccion">Constantino Carbel, S/N</p>
							</div>
							<div class="col-3 dato">
								<div class="numero">
									<p>#92</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6 fecha">
								<p>11/10/18 21:45</p>
							</div>
							<div class="col-6 precio">
								<p>$520</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="pedido" [routerLink]="['/detalle-co-pedido']">
				<div class="row">
					<div class="col-1 estado">
						<p><i class="fa fa-check text-success"></i></p>
					</div>
					<div class="col-11">
						<div class="row">
							<div class="col-9 cliente">
								<p class="nombre">Facundo Aballay</p>
								<p class="direccion">B° Centro</p>
								<p class="direccion">Malvinas Argentina, 53</p>
							</div>
							<div class="col-3 dato">
								<div class="numero">
									<p>#91</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6 fecha">
								<p>11/10/18 21:45</p>
							</div>
							<div class="col-6 precio">
								<p>$220</p>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>

</div>