<!-- BARRA DE NAVEGACION -->
<div class="caja-nav">   
	<div class="row">
		<div class="col-2" style="text-align:left" [routerLink]="['/micomercio']">
			<button class="regresar">
				<i class="fas fa-angle-left"></i>
			</button>
		</div>

		<div class="col-8" style="text-align:left">
			<span class="titulo">Todos los Pedidos</span>
		</div>

		<div class="col-2"></div>
	</div>
</div>



<!-- TAB -->
<div class="nav nav-tabs tab" id="nav-tab" role="tablist">
	<a class="nav-item nav-link item  active" data-toggle="tab" href="#nav-nuevos" role="tab">Pendientes (2)</a>
	<a class="nav-item nav-link item" data-toggle="tab" href="#nav-confirmados" role="tab">Confirmados (0)</a>
	<a class="nav-item nav-link item" data-toggle="tab" href="#nav-completados" role="tab">Completados (17)</a>
</div>

<div class="tab-content caja-pedidos" id="nav-tabContent">

	
	<!-- Pendientes -->
	<div class="tab-pane fade show active " id="nav-nuevos" role="tabpanel">
		<div class="animated fadeIn fast ">
			<div class="pedido">
				<div class="row">
					<div class="col-1 numero">
						<p>1</p>
					</div>
					<div class="col-9 cliente">
						<p>Franco Martinez</p>
						<p>B° Angel V Peñaloza</p>
					</div>
					<div class="col-2 dato">
						<p class="hora">21:31</p>
						<!-- <p class="delivery"><i class="fa fa-car"></i></p> -->
					</div>
				</div>	
			</div>
			<div class="pedido">
				<div class="row">
					<div class="col-1 numero">
						<p>2</p>
					</div>
					<div class="col-9 cliente">
						<p>xzCesar89</p>
						<p>B° Victoria Romero</p>
					</div>
					<div class="col-2 dato">
						<p class="hora">21:45</p>
						<p class="delivery"><i class="fa fa-car"></i></p>
					</div>
				</div>	
			</div>
		</div>
	</div>
	
	<!-- Confirmados -->
	<div class="tab-pane fade nav-confirmados" id="nav-confirmados" role="tabpane2">
		<div class="animated fadeIn fast">
			<!-- <div class="pedido">
				<div class="row">
					<div class="col-9">
						<span>Franco Martinez</span>
						<span>B° Angel V Peñaloza</span>
					</div>
					<div class="col-2">
						
					</div>
				</div>	
			</div> -->
			<div class="listaVacia">
				<p>No hay pedidos</p>
			</div>
		</div>
	</div>

	<!-- Completados -->
	<div class="tab-pane fade nav-completados" id="nav-completados" role="tabpane3">
		<div class="animated fadeIn fast">
			<div class="pedido">
				<div class="row">
					<div class="col-9">
						<span>Franco Martinez</span>
						<span>B° Angel V Peñaloza</span>
					</div>
					<div class="col-2">
						
					</div>
				</div>	
			</div>
			<div class="pedido">
				<div class="row">
					<div class="col-10">
						<span>xzCesar89</span>
						<span>B° Angel V Peñaloza</span>
					</div>
					<div class="col-2">
						
					</div>
				</div>	
			</div>
			<div class="pedido">
				<div class="row">
					<div class="col-10">
						<span>xzCesar89</span>
						<span>B° Angel V Peñaloza</span>
					</div>
					<div class="col-2">
						
					</div>
				</div>	
			</div>
		</div>
	</div>

</div>