.caja-nav{
    background-color: #fa3b7b;
    width: 100%;
    height: 55px;
    max-height: 55px;
    text-align: center;
    padding: 12px 0 11px 0;
}
.caja-nav .col-2{
    padding-top: 15px;
    padding-bottom: 15px;
}
.caja-nav .row{
    margin: 0!important;
    height: 100%;
    display: flex;
    align-items: center;
}
.caja-nav button.regresar{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    margin-left: 5px;
    padding: 0;
}
.caja-nav button i{
    color: #fff;
    font-size: 22px;
}
.caja-nav span.titulo{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;  
}



/* Categoria */
.caja-categoria{
    background-color: #f4f4f4;
    padding: 0 10px 1px 10px;    
}
.caja-categoria .categoria{
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.07), 0 1px 1px -2px rgba(0,0,0,.1);
    border-radius: 5px;
}
.caja-categoria .categoria span{ 
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;  
}
.caja-categoria i{
    color: #cecece;
    margin: auto 0;
}
.categoria .opciones{
    text-align: right;
}
/* The switch */
.caja-categoria .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    /* height: 34px; */
}
.caja-categoria label.switch{
    margin-bottom: 0!important;
}
.caja-categoria .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.caja-categoria .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.caja-categoria .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 1px;
    /* bottom: 4px; */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.caja-categoria input:checked + .slider {
    background-color: #2196F3;
}
.caja-categoria input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.caja-categoria input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.caja-categoria .slider.round {
    border-radius: 34px;
}
.caja-categoria .slider.round:before {
    border-radius: 50%;
}


/* Producto */
.caja-producto{
    background-color: #f4f4f4;
    padding: 0px 10px 5px 10px;
}
.producto{
    /* min-height: 115px; */
    background-color: #fff;
    margin: 0 auto 1px auto;
    padding: 0 10px;   
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.07), 0 1px 1px -2px rgba(0,0,0,.1);
    display: flex;
    align-items: center;
}
.caja-foto{
    width: 55px;
    height: 55px;
    overflow: hidden;
    padding: 0;
}

.caja-foto img{
    width: 100%;
    height: 100%;
}
.caja-descripcion{
    padding: 0 0 0 10px;
    margin: 10px 0;
}
.caja-descripcion .nombre{
    display: block;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;  
    text-transform: capitalize;
}
.caja-descripcion .ingredientes{
    display: block;
    color: #b4b4b4;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;  
    letter-spacing: 0.25pt;
    text-transform: capitalize;
}
.caja-descripcion .precio{
    color: #1bb140;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700; 
}
.caja-boton{
    padding: 0;
}
.caja-boton button{
    color: #fa3b7b;
    background: none;
    font-size: 20px;
    padding: 0;
    margin: 0 10px 0 5px;
    outline: 0;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
}




.caja-boton-agregar{
    width: 100%;
    padding: 10px 35px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.07), 0 1px 1px -2px rgba(0,0,0,.1);
}
.caja-boton-agregar .texto{
    display: inline-block;
    width: 90%;
}
.caja-boton-agregar .texto span{
    color: #fa3b7b;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;  
    outline: 0;
}
.caja-boton-agregar .icono{
    display: inline-block;
    width: 10%;    
    text-align: right;
}
.caja-boton-agregar .icono i{
    color: #cecece;
    margin: auto 0;
}










.caja-boton{
    /* background-color: rgba(255, 255, 255, 0.445); */
    padding: 10px 10px;
    text-align: center;
}
.caja-boton button.cat{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: #1c65c4;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;  
    border: 0;
    border-radius: 5px;
    outline: 0;
}
.caja-boton button.cat:hover{
    background-color: #2074e2;
}
