<div class="caja-nav">    
  <button class="regresar" [routerLink]=[anterior]>
    <i class="fas fa-angle-left"></i>
  </button>
  <!-- <button class="menu" *ngIf="this.ap.exist" (click)="this.ap._toggleOpened()">
  <i class="fas fa-bars"></i>
  </button> -->
  <span class="titulo">Menú</span>
</div>

<div style="padding-bottom: 65px;">
  <div *ngFor="let c of categorias">
    <div class="caja-texto">
      <span>{{ c.nombre }}</span>
    </div>

    <div class="caja-producto">
      <div *ngFor="let p of productos">
        <div class="producto row" *ngIf="c.nombre == p.categoria">        
          <div class="caja-foto col-auto">
              <img src="{{ p.foto }}" width="100">
          </div>
          <div class="caja-descripcion col">
            <span class="nombre">{{ p.nombre }}</span>      
            <span class="ingredientes">{{ p.ingredientes }}</span>   
            <span class="precio">${{ p.precio }}</span>		
          </div>
          <div class="caja-boton"></div>        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="caja-boton fixed-bottom">
  <button class="cat" [routerLink]="['categoria']">
    <span>Añadir categoría</span>
  </button>
  <button class="pro" [routerLink]="['producto']">
    <span>Añadir producto</span>
  </button>
</div>