<div class="caja-nav">    
	<!-- <button class="regresar" [routerLink]="['/comercio', refId]">
		<i class="fas fa-angle-left"></i>
	</button> -->
	<button class="menu" *ngIf="this.ap.exist" (click)="this.ap._toggleOpened()">
	<i class="fas fa-bars"></i>
	</button>
	<span class="titulo">Mis direcciones</span>
</div>


<div class="conenedor">

	<div class="animated fadeIn fast">
		<div class="direccion" *ngFor="let domicilio of domicilios" (click)="actualizar( domicilio.id)">
			<span>{{ domicilio.calle }}, {{ domicilio.numero }}</span>
			<span>B° {{ domicilio.barrio }} - {{ domicilio.ciudad }} <i class="fa fa-trash-alt"></i></span>			
		</div>
	</div>

	<div class="no-existe" *ngIf="domicilios.length == 0">
		<span>Upps</span>
		<span>No tienes ninguna dirección</span>
	</div>

	<div class="caja" *ngIf="!max">
		<button class="agregar animated fadeIn fast" (click)="irDireccion()">
		<span>Agregar direcciòn</span>
		</button>
	</div>

	<div class="caja" *ngIf="max">
		<span class="maximo">Solo puedes tener hasta 5 direcciones</span>
	</div>

</div>
