.caja-nav{
    background-color: #fa3b7b;
    width: 100%;
    height: 55px;
    max-height: 55px;
    text-align: center;
    /* padding: 12px 0 11px 0; */
}
.caja-nav .col-3{
    padding-top: 15px;
    padding-bottom: 15px;
}
.caja-nav .row{
    margin: 0!important;
    height: 100%;
    display: flex;
    align-items: center;
}

.caja-nav button i{
    color: #fff;
    font-size: 22px;
}
.caja-nav span.titulo{
    color: #fff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;  
}
.caja-nav button.menu{
    color: #ffffff;
    background: none;
    border: 0;
    outline: 0;
    margin-left: 5px;
    padding: 0;
}








.contenedor{
    margin: 0;
    padding: 0;
}

.direccion{
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid #cccccc;
}
.direccion span{
    display: block;
    color: #495057;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
}
.direccion span:first-child{  
    font-size: 18px;
    font-weight: 400;  
}
.direccion span:last-child{
    font-size: 14px;
    font-weight: 400;
    /* border-bottom: 1px solid #cccccc; */
    padding: 0 5px 10px 5px;
}
.direccion .btn-eliminar{
    text-align: center;
    margin: auto 0;
}
.direccion i{
    color: #d4d4d4;
    font-size: 18px;    
    font-weight: 300;
}


.no-existe{
    padding: 25% 20px 0 20px;
    text-align: center;
}
.no-existe span{
    display: block;
    color: #cccccc;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;  
}

.caja{
    padding: 10px 20px;
}
.caja button.agregar{
    display: block;
    margin: 5px auto;
    width: 100%;
    height: 36px;
    background-color: #1c65c4;
    border: 0;
    border-radius: 5px;
    outline: 0;
    text-align: center;
}
.caja button.agregar:hover{
    background-color: #2074e2;
}
.caja .agregar span{
    display: block;
    /* color: #495057; */
    color: #fff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;  
    letter-spacing: 0.025rem;  
}

.caja2{
    background-color: #fa3b7b;
    height: 36px;
}
.caja2 button.cancelar{
    /* display: block; */
    margin: 0 20px 0 auto;
    width: auto;
    height: 36px;
    background-color: #fa3b7b;
    border: 0;
    outline: 0;
    text-align: right;
    float: right;
}
.caja2 .cancelar span{
    display: block;
    color: #fff;
    /* color: #fff; */
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;  
    letter-spacing: 0.025rem;
}
.caja2 span.titulo{
    /* display: block; */
    color: #fff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;  
    margin-left: 20px;  
    line-height: 2.5;
}

.domicilio{
    padding: 10px 20px;
}

.domicilio span{
    display: inline-block;
    margin-top: 15px;
    color: #495057;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;  
}
.domicilio .opc{
    padding-left: 5px;
    color: #cccccc;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;  
}
.domicilio input{
    display: block;
    width: 100%;
    height: 36px;
    border: 0;
    border-bottom: 1px solid #cccccc;
    outline: 0;
    padding-left: 5px;

    color: #495057;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;  
}
.domicilio input:focus{
    border-bottom: 1px solid #fa3b7b;
}

.domicilio button{
    display: block;
    margin: 15px auto;
    width: 100%;
    height: 36px;
    background-color: #18ad7c;
    border: 0;
    border-radius: 5px;
    outline: 0;
    text-align: center;
}
.domicilio button:hover{
    outline: 0;
    background-color: #1ec58d;
    border: 1px solid #1ec58d;
}
.domicilio button span{
    display: block;
    margin: 0;
    color: #fff;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;  
    letter-spacing: 0.025rem;    
}

button:disabled {
    background-color: #e1e1e1!important;
}


.mapa{
    height: 300px;
    width: 100%;
    transition: all .3s ease;
}
agm-map {
    height: 100%;
    width: 100%;
}

.maximo{
    display: block;
    color: #cccccc;
    /* light 300, regular 400, medium 500, bold 700 */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;  
    text-align: center;
}